[2019-10-08 06:33] JeffreyDavidsz opened #6 "check connection"
Maybe I'm doing this to complicated but, on Windows, I try to start the OBS Studio program after a button press. Using VICREO with the. exe as parameter. This is working perfectly. But Companion isn't automatically (re) connecting with the already present OBS instance.
My goal is to start all required executables from the SD surface to ease things for my volunteers.

[2019-10-08 08:58] JeffreyDavidsz commented on #6
This is a copy paste of Facebook

[2019-10-09 07:45] bastiaanrodenburg commented on #6
It seems a more general issue about refreshing OBS status. Not only when started via VICREO but also when OBS is started normally Companion isn't connecting to is.

[2019-10-09 09:05] JeffreyDavidsz commented on #6
Ok so what happens, is a OBS object is created on initializing of the module, if companion with that module is running, it doesn't make the connection. I've made a quick fix for you. A reconnect action. you could put that action after the VICREO starting up OBS (you would need to know how long it will take for OBS to start up and convert that to miliseconds).
The action has the same options as if

[2019-10-09 10:54] bastiaanrodenburg commented on #6
Thank you for the work arround, i'll try it when home. Quick question after having a look at your changes: you used reconnect and re-connect intermixed (with and without hyphen). Is that correct?

What I see with other modules is an automatic reconnect loop every 5 seconds or so. Wouldn't that be nicer?

[2019-10-09 17:20] JeffreyDavidsz commented on #6
Yep that's a typo, a heartbeat function or so would be nice, this was a quick fix during coffee break. I'll fix the typo

[2019-10-14 17:17] sytem opened #7 "Add support for SetSceneItemProperties"
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#getsceneitemproperties

SetSceneItemProperties is command to change parameters for items in specific scene. It can be used for aux function, when there is one scene with NDI output filter, and other scenes as scene source, and then switch visibility of those.

Would probably need to get list of scenes and then sou

[2019-10-17 14:11] apollo1220 opened #8 "OBS reconnect or connection polling"
With Companion starting with the startup of the computer OBS is not running at that time. So the connection to the OBS API isn't available and the connection fails. Great.

Then when you start OBS though, there is no logic that I can see in the source to pick up that OBS is now available. So you have to open the Companion configuration and disable then enable the OBS integration to get it connecte

[2019-11-11 22:16] bastiaanrodenburg commented on #6
Just until now I didn't have time to work on my project. I now see that reconnect isn't working. The status in the admin GUI isn't updated. As well as the little red squares on the buttons controlling OBS.

[2019-11-12 20:05] bastiaanrodenburg commented on #6
I realy needed to have a fix for this so I implemented my own work arround for your module. I'm using the tcp library which has an auto reconnect procedure build in. Over a tcp connection could be made to port 4444 this connection is closed immediately and your init procedure continue. It's not very beautifull because an connection is made solely as a kind of ping. But it's working! You should che

[2019-11-20 20:55] tysnyder12 opened #9 "Preview to Program Command not Working"
**Make sure you're on the latest bleeding edge build** (remove this section from the bug report)
*Before you report a bug, make sure you're not reporting something that have been fixed in the master branch by downloading a "latest" build from https://builds.bitfocus.io/companion/*

**Describe the bug**
One instance I am using is OBS connected to the Stream Deck XL via Companion and the bug I am ru

[2019-11-21 13:43] tysnyder12 commented on #9
OBS is on the same computer, and the version is 24.0.3

[2019-11-23 17:52] DeeJayMX commented on #9
Same here.
Using Cut transition or Fade transition,
I see the next transition is selected good but don't do the action and it crash 2 seconds after that.

here is the log of the crashed thread:
`Unhandled exception: c0000005
Date/Time: 2019-11-23, 18:45:50
Fault address: 7FF8D73F1E10 (c:\program files\obs-studio\bin\64bit\qt5widgets.dll)
libobs version: 24.0.3 (64-bit)
Windows version: 10.0 build

[2019-12-03 22:34] Azenet commented on #9
This is a known OBS bug, I have been recommended to use [this early build](https://ci.appveyor.com/project/Palakis/obs-websocket/builds/26020497/artifacts), which worked. I am not sure about the status of this issue on the latest OBS version.

[2019-12-08 20:54] bastiaanrodenburg commented on #8
I pushed a new version that is doing right this. Probably available on release of companion 2.0.

[2019-12-08 20:56] bastiaanrodenburg commented on #7
Added a function to toggle visibilty of scene items. Should be available on next release of Companion 2.0 or when running from the source.

[2020-01-06 19:11] apollo1220 commented on #8
I tested with the latest 2.0 build and that is working great

[2020-01-06 19:12] #8 closed

[2020-01-15 10:01] magnusoverli opened #10 "Companion disconnects from OBS instance"
When using the "Reconnect to OSB" service, companion disconnects from the current OBS instance and does not reconnect. After clicking a button with the "Reconnect..." service on it, OBS has the status "ERROR" in the Connections / Instances overview.

As far as I can see nothing is showing up in the logs. It looks like it only implements the disconnection and not the reconnection part of the servic

[2020-01-15 10:10] magnusoverli commented on #10
The issue can be worked around by disabling and the enabling the OBS instance.

[2020-01-17 17:27] JeffreyDavidsz commented on #10
@magnusoverli there was a big update which was not into core yet. I've just upgraded that module, so try it in about 15min

[2020-01-24 08:24] magnusoverli commented on #10
I just tried again, now on version 2.0.0-26851f7-2021. I am now unable to get a stable connection to OBS at all. Still the debug log shows:
`24. 09:14:15 instance(OBS MAIN): Success! Connected.
24. 09:14:15 instance(DJjDf_mmp): instance configuration updated`
But the instance status flickers between `CONNECTING` and `ERROR`.

[2020-03-06 12:04] bryce-seifert commented on #10
Fixed with https://github.com/bitfocus/companion-module-obs-studio/pull/11

[2020-03-06 12:07] bryce-seifert commented on #6
OBS now automatically reconnects with https://github.com/bitfocus/companion-module-obs-studio/pull/11

[2020-03-06 12:37] #6 closed

[2020-03-06 12:37] #10 closed

[2020-03-06 12:38] #9 closed

[2020-03-06 12:38] #7 closed

[2020-03-28 19:35] 22hn opened #12 "Specify scene on action "Toggle visibility scene item""
When using above action, it defaults to changing item visibility on the current scene. Would it be possible to also add a variable for what scene to change visibility in?

The obs-websocket's SetSceneItemProperties does support that, by sending scene-name in request.

I have a separate scene in OBS for text overlays which is used as a source in several other scenes, and would like to toggle item v

[2020-03-29 18:38] 22hn opened #13 "Feature request: Change the text of a Text(GDI+) source"
Would like to have an action in companion for changing the text of a OBS Text(GDI+) source.

Have a scene for speaker nametag that is linked in as a source in my live video scenes and I'm controlling the visibility of that source from a stream deck button.

So what I would like to do is to have a button called "select nametag" that switches to another page on the stream deck, presenting me with ch

[2020-03-30 13:06] cjdenio commented on #13
This looks doable! The only hitch would be the button whose text changes with the speaker name.

My best recommendation would be to write a script that changes the button name over OSC. Companion *does* support variables, but I think this may be too specific to add.

Anyway, I'll put up a PR to add the SetTextProperties action!

[2020-03-30 14:53] 22hn commented on #13
Ah, you're right... Thought I've seen an action for changing a button's text, but that was for changing it's color only.

But if the rest is doable I'm very thankful…!

[2020-03-30 17:55] 22hn commented on #13
Caleb, would you also take a look at #12? Similar issue, quick fix... :-)

[2020-03-30 17:57] cjdenio commented on #13
I've actually started writing a fix for that :smile: I should be able to submit it later today.

[2020-03-30 18:18] 22hn commented on #13
Great!

And then what, do they have to release a new build of companion to make the fix available? (I'm new to the github workflow...)

[2020-03-30 19:33] cjdenio commented on #13
I'm not 100% sure; I think once the PR gets merged it'll automatically get built and become available here: https://bitfocus.io/companion/download/builds

[2020-03-30 22:07] 22hn commented on #12
Thanks!

[2020-04-01 16:04] #12 closed

[2020-04-01 16:06] #13 closed

[2020-05-19 01:54] hsmichaelson opened #16 "[BUGS] In a sequence of actions OBS Studio will not load the correct scene in preview"
Companion - Beta 2.0
Stream Deck XL
OBS Studio 25.0.8 (Mac)
MacBook Pro (yes the Stream Deck/ Companion and OBS are on the same computer)

I have programmed the following sequences of actions (see screenshots).  The issue is that OBS does not put the requested preview scene in place.  I added in small delays between actions, because it was suggested in the Facebook group that this might help the p

[2020-05-22 22:48] hsmichaelson commented on #16
So - I figured it out - this is NOT a bug - it's just an odd thing you have to think of when programming this type of sequence.  When changing your scene in OBS, the software moves the scene that was in Program to Preview automatically.  If you want a different scene to then be in Preview - you have to wait for OBS to complete that move first, then have it take your change.  So I made the Delay fo

[2020-05-22 22:48] #16 closed

[2020-05-28 03:39] B00TK1D opened #17 "Bug: Change colors when source visible exclusivity"
When adding the "Change colors when source visible" instance feedback to a button, it does not retain its value when a different source's visibility is toggled.

Usage: I have a set of overlays (Overlay 1, Overlay 2, etc.) in each camera scene.  I created a corresponding set of buttons which toggle the visibility of the appropriate overlay in each camera scene.  I then added an instance feedback t

[2020-05-28 09:07] empyfree opened #18 "Feature Request: Feedback based on Source Mute status"
Would be amazing to have feedback based on mic and other audio source mute status.

I often have a momentary button set up to mute (on press) and unmute (on release), a "cough" button.   I also mute and unmute audio sources in various scenes, it would be nice to have the background colour of the mute button reflect the current status.   I could always use my "cough" button then to clear an inadver

[2020-06-16 08:40] gdhgdhgdh opened #19 "Usage guide"
After trying with both the native Node 8 in Ubuntu 20.04, and the latest Node 14.4 from Docker Hub I get the following after a successful `npm install`

[code]

What am I missing? I hoped `instance_skel` was another node module, but seemingly not:

[code]

[2020-07-09 00:28] bryce-seifert commented on #19
Are you trying to run this module by itself? Or are you trying to run Companion?

[2020-07-09 06:45] gdhgdhgdh commented on #19
I'm trying to run it standalone. I'm going to guess that's the problem - I'll try it in the context of Companion.

[2020-07-11 10:40] thargy opened #21 "Issue with source visibility when in nested scenes."
When toggling a source in a nested scene, the filter does not realise that the source is now visible.

I've been trying to find a reliable way to have various overlay options display 'globally', that is over multiple scenes, and toggle various sources on and off.  This allows various lower-thirds to be displayed, whilst switching the main program scenes (e.g. between cameras).

After much-failed e

[2020-07-12 13:31] bryce-seifert commented on #21
@thargy I just did some work on the source visibility feedback, so I can dive back into this and see if I can get nested scenes working.

[2020-07-12 13:32] bryce-seifert commented on #17
Should be fixed with https://github.com/bitfocus/companion-module-obs-studio/pull/20

[2020-07-12 13:34] bryce-seifert commented on #19
@gdhgdhgdh Yes, it will need to be run through Companion as the module relies on that framework. Did you get it running?

[2020-07-12 16:48] gdhgdhgdh commented on #19
I haven't tried and don't know when I'll have time to - I'll close this issue :)

[2020-07-12 16:48] #19 closed

[2020-07-12 21:15] bryce-seifert commented on #21
@thargy So we may be in a bit of a holding pattern. It looks like the path of least resistance to implement this would be to use a "G[etSceneItemList](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#getsceneitemlist)"  request to see what sources are in a scene and check their visibility. However, that is still listed as unreleased.

So, I have some code ready

[2020-07-12 21:54] thargy commented on #21
Thanks @bryce-seifert!

[2020-07-12 22:04] thargy opened #22 "[FEATURE REQUEST] Add true Toggle functionality"
With the Visibility feedback nearing completion (#21), it would be nice to have a _true_ toggle function for scenes/sources.  The current toggle function allows you to either 'Show' or 'Hide' the scene but not actually 'Toggle' it - that is to detect the current state and negate it.

You can achieve a toggle by using a Companion button set as a Toggle, and assigning the Show to the press event, an

[2020-07-18 15:38] willosof opened #23 "Cannot read property 'forEach' of undefined"
Sentry caught 23 users getting this (1300 events). It started Jul 10 :)

![image](https://user-images.githubusercontent.com/426386/87856144-3fcf3480-c91d-11ea-8b82-7cce5da159b0.png)

[2020-07-31 03:38] antcoop opened #24 "obs: Set Source Text (FreeType 2) Not Working"
I atempted to use Companion to update source text (FreeType) and it didn't change the value.

I've verified I was connected via websockets… Also, the source name was correct and I was able to complete the all other OBS actions.

OBS v25.0.8 and Companion v2.1.0 (47823d0-2493)

![obs-issue](https://user-images.githubusercontent.com/363521/88997129-92f99d80-d2b4-11ea-9957-195ef6f7eb4c.png)

[2020-07-31 04:00] antcoop commented on #24
Resolved by upgrading web-sockets
https://github.com/Palakis/obs-websocket/releases/tag/4.8.0

[2020-07-31 04:00] #24 closed

[2020-08-09 17:43] willosof commented on #23
So, we're up on 340 users and 62 000 exceptions now.

[2020-08-31 02:02] #23 closed

[2020-09-02 15:21] DachsbauTV commented on #13
Is there an easy way to have a reverse version of this implemented? basically a feedback module that can read the text out of a Text source, so you can preview a text in a lower third before you put it on air. This would be especially useful if your text source gets its data from an external source (e.g. live scoring in a sporting event)

[2020-09-13 16:38] SamWdW opened #27 "Companion 2.1 slows down OBS's UI response whereas v2.0 is OK"
I'm using Companion to control OBS, switching between scenes that contain NDI sources and nested scenes. However OBSs becomes *very* sluggish after just a few minutes of switching between scenes. This happens when it's controlled by Companion v2.1, but interestingly it works OK if I uninstall v2.1 and install v.20 instead, all other things remaining unchanged. Without Companion at all it's perfect

[2020-09-27 17:09] bryce-seifert commented on #27
Hey Sam, have you tried one of the recent dev builds of 2.1.1? I'm curious if the issues persists. I'd recommend trying companion-2.1.1-feee27f-2599-win64 if you haven't, available on the [builds page](https://bitfocus.io/companion/download/builds/).

I think there was a change related to how active sources are tracked for button feedback between those two releases, so wondering if that has someth

[2020-09-27 17:25] SamWdW commented on #27
Hi Bryce,
Thank you - I've not tried anything newer than 2.1.0 since finding the problem, so I'll give the latest 2.1.1 build a try and report back!

[2020-09-28 17:13] DerDave1989 opened #29 "Add OBS Audio Controll Buttons"
Add buttons to Mute/Unmute audio sources in OBS.

[2020-10-03 17:20] SamWdW commented on #27
Hi Bryce - Good news: I've tried the latest 2.1.1 build, 2606, and the problem with OBS does indeed seem to have gone away.
Thank you!

[2020-10-03 17:20] #27 closed

[2020-10-11 14:40] hussra opened #30 "Unable to save properties of new OBS instance"
I've got a fresh CompanionPi install, fully updated and running HEAD. Tried to create an obs-studio instance, but Companion (the whole thing) crashes when saving the instance properties.

Running with some logging added, I got this error:

Starting
Started
/usr/local/src/companion/lib/module/obs-studio/index.js:22
        self.obs.disconnect();
                 ^

TypeError: Cannot read property '

[2020-10-20 04:00] eaaronhorsham commented on #29
This already exists: "obs: Set Source Mute" with options True(muted) and False(UnMuted) It would be nice to pull status of mutes though, similar to Program/Preview Status.

[2020-10-21 21:49] tdobes commented on #30
I'm experiencing what I believe to be a problem which possibly has the same root cause.  With the latest version, enabling/disabling an OBS instance results in a crash of Companion.  This is the error:
TypeError: Cannot read property 'destroy' of undefined
    at tcp.<anonymous> (/opt/companion/lib/module/obs-studio/index.js:50:12)
    at emitOne (events.js:116:13)
    at tcp.emit (events.js:211:7

[2020-10-24 17:23] mu71rd commented on #21
was there any progress on whether it's possible to see visibility within nested scenes? Would be great to be able to see that as Instance Feedback - so it will toggle a chosen 'source: nest scene' on and off visually.

I am operating the method described by thargy - with all my overlays in a scene, which appears (nested) as sources in my main scenes. As it stands I can't see feedback within Bitfoc

[2020-11-03 01:57] bryce-seifert commented on #30
Sorry about this, I must have missed that when re-working the disconnect behavior.
Can you please test if this fixes?
https://github.com/bitfocus/companion-module-obs-studio/pull/32

[2020-11-03 04:33] tdobes commented on #30
A quick test against the latest HEAD with PR #32 applied appears to work as expected.

[2020-11-03 17:06] hussra commented on #30
Likewise, looking good for me with PR #32 applied. Thank you!

[2020-11-05 15:23] DachsbauTV opened #33 "Where to find Hotkey ID?"
Call me stupid but I just can't find the Hotkey ID's for the latest addition to the OBS module "added trigger hotkey action"

Anyone can help?

[2020-11-05 15:43] WaffleTime16 commented on #30
Looking good here as well.  Forgive my ignorance, as I'm learning.  With modifications such as these, do they get implemented into the normal software updates for Companion?  I modified the code as instructed, but I'm wondering if (running it on a RPi4) when I go to update companion, will that pull down the new code for this module as well?

Thanks in advance!

[2020-11-06 01:46] champagj opened #83 "[BUG] Loading a second instance of OBS crashes companion"
Running companion 2.1.1 on companionPi to a StreamDeck

I have three modules running nicely. ATEM mini, OBS, OSC.

I need to add another instance of the OBS module to control a second PC running another instance of OBS.

**To Reproduce**
Steps to reproduce the behavior:
On the GUI I lookup and add OBS module
add the IP address for the second PC/OBS
change the server port to match OBS websocket con

[2020-11-15 21:30] bryce-seifert commented on #33
It looks like it's stored in the Profile files https://github.com/bitfocus/companion-module-obs-studio/pull/31

I haven't been able to make it work, though.

[2020-11-24 23:55] wwboynton commented on #33
@featherbear notes in #31 that the hotkey IDs can be found in the `basic.ini` file of your OBS Broadcaster settings.

It seems like while OBS default hotkeys on Windows are indeed stored in `%appdata%\Roaming\obs-studio\basic\profiles\Untitled\basic.ini` (start stream, stop stream, studio mode, etc.), hotkeys added by other plugins, and hotkeys specific to scenes and their elements aren't stored i

[2020-11-25 04:27] featherbear commented on #33
@DachsbauTV @bryce-seifert

# Getting It To Work

The hotkey trigger functionality requires functionality (https://github.com/Palakis/obs-websocket/pull/595 - 1st October) that does not exist in the [4.8.0](https://github.com/Palakis/obs-websocket/releases/tag/4.8.0) release (27th May). So in order to get this feature to work you will need to either compile a newer copy of obs-websocket yourself w

[2020-11-26 19:56] fbosman opened #35 "change streaming key"
Is it possible to design a button that can change the streaming key in OBS?
We will be using OBS on different channels and we would like to be able to switch channel from Companion .

[2020-11-30 17:21] DachsbauTV opened #36 "Dropdown for sources in "Toggle visibility scene item""
**Describe the feature**
Just a dropdown menu for "Toggle visibility scene item" to choose the source item and make everyones life a lot easier :)
Apart from the workflow improvement it would also eliminate a possible typo problem, which would then not trigger the source.

**If documentation is required to implement, do you know where to find it?**
The feedback instance "Change colours when source

[2020-12-07 10:11] SNRSE opened #37 "Change Stream Start / Stream stop"
Hey, could you please add the possibility to just send a stream start/stream stop?
at the moment it just toggels

Greetings Snrse

[2020-12-08 21:04] eric commented on #17
Can this be closed?

[2020-12-08 21:06] eric commented on #30
Can this be closed?

[2020-12-08 22:23] hussra commented on #30
I think so.

[2020-12-08 22:23] #30 closed

[2020-12-10 04:47] eric commented on #21
I've created #38 that handles this scenario without relying on `GetSceneItemList`.

[2020-12-10 19:38] eric commented on #35
It looks like this could either be done by using [`SetCurrentProfile`](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setcurrentprofile) to change the current profile or [`SetStreamSettings`](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setstreamsettings) to adjust the Stream Key (and other parameters) directly.

[2020-12-15 21:58] mattehalen commented on #37
Should be on its way. I missed this function to and fixed it on a Pull request.
Also updated so record has separate buttons for start and stop as well.

[2020-12-16 21:39] TheOtherLonestar opened #42 "Either add more functionality using OBS websockets or give us Raw Websocket commands."
I'd like the ability to Turn filters on and off, start and stop Outputs such as virtual cam, set source positions, scale, etc. I can do this with raw websocket commands so either open up that functionality or give us a Websockets button command. Thanks!

[2020-12-19 02:38] #21 closed

[2020-12-22 08:42] eric commented on #37
This was solved in #41

[2020-12-27 20:58] yurividal opened #43 "OBS slow (and sometimes crashing) when companion is running"
I am facing UI Slowdown with the latest 2.2.0 compiled from source. OBS slows down and sometimes crashes and gives "unable to access memory" errors when I close it.
This only happens when companion is running. If I close companion OBS works fine.

[2021-01-07 11:00] DachsbauTV opened #52 "[BUG] Websocket and Companion 2.2.0 use a lot of resources and crash OBS"
**Describe the bug**
I've been watching this for quite a while now and tried several builds and the problem is consistent.
Additionally Build 2782 doubled my CPU usage from 7% to 14-15% with peaks of up to 25%

The main issue seems to be the connection with the websocket plugin (4.8.0). With the connection active OBS crashes on several scenarios:
- When being closed
- when live and changing from s

[2021-01-07 14:54] rbyerly17 commented on #37
I'm sorry if this is the wrong place for this but how to I update my OBS module in Companion to get this added functionality. I really need it for a project I'm working on but can't figure out how to do it. Thank you in advance!

[2021-01-10 12:41] DachsbauTV opened #47 "[BUG] choosing a scene doesn't work in "toggle visbility scene item""
As i understand this feature it is supposed to change visibility regardless of which scene is currently active.
This however doesn't work.

To give context why this is needed:
We have a scene projector on a background screen in the studio, on which we would like to change the output without having to change the scene we are working with at the moment.

[2021-01-15 22:01] eric commented on #43
I believe this is fixed by #44

[2021-01-19 16:31] rbyerly17 commented on #33
Where would I find their "CI artifacts"? Having hotkey functionality would be really helpful to me but compiling a new copy seems a little over my head. Thanks for any help!

[2021-01-19 23:20] featherbear commented on #33
Here's the link to their latest builds - https://dev.azure.com/Palakis/obs-websocket/_build/results?buildId=1620&view=artifacts&pathAsName=false&type=publishedArtifacts

Built against https://github.com/Palakis/obs-websocket/commit/bc3b09dce4bf25eb99007dabff078deb2f5b027d

[2021-01-19 23:22] featherbear commented on #33
(There's a drop down menu you need to access by hovering over the respective OS binary and then clicking on the dots on the righthand side)

________________________________
From: rbyerly17 <notifications@github.com>
Sent: Wednesday, 20 January 2021 3:32 am
To: bitfocus/companion-module-obs-studio
Cc: Andrew Wong; Mention
Subject: Re: [bitfocus/companion-module-obs-studio] Where to find Hotkey ID?

[2021-01-20 11:09] fraggle69 opened #48 "OBS-WEBSOCKET API UPDATE"
The current instance within companion for OBS is great, but I would like control of more features available in the obs-websocket API please.  Specifically I am after the SetCurrentSceneCollection command, as referenced here.  https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setcurrentscenecollection

I'll ofcourse be happy to test/validate.

In the meantime, I w

[2021-01-20 13:56] rbyerly17 commented on #33
Thank you so much for this!

[2021-01-23 15:53] timmilne opened #49 "Support new Start/Stop Virtual Camera"
With the latest release of OBS, the virtual camera is now fully supported.  Can you add Start/Stop Virtual Camera to the list of supported presets?

Thanks!  This is great!

[2021-01-28 16:06] Miuwcy opened #50 "[Trigger HotKey by ID] How can I find the ID"
i'm so struggling in this....
Available actions said it can Trigger HotKey by ID.
but I don't know where I can find the HotKey ID.
thanks so much

[2021-01-28 16:50] DachsbauTV commented on #33
So I've downloaded the latest build of websocket and the latest build of Companion, however, I still can't get it to work.

When using "Trigger hotkey by ID" the data field doesn't save anything that is entered into it.

My test button is supposed to trigger "SlideShow.NextSlide"

[2021-01-28 18:52] rbyerly17 commented on #33
@DachsbauTV did you down load the latest version from featherbear's link? The 4.8.0 version on the regular Websocket Github doesn't have the functionality. Also it took me a while to understand what exactly in the profile is the 'Hotkey ID'. For start stream the correct ID is OBSBasic.StartStreaming .

[2021-01-28 21:22] DachsbauTV commented on #33
Yes sorry i was unclear there: i am using build 1620 websockets from the CI artifacts and companion build 2817

also i already figured out that if you use a shared identifier it will trigger the first source item of all the scenes that would fit the description. So it still can be used for some cases.

to make this extension really work well i think it needs an additional field in which you can se

[2021-01-29 10:30] DachsbauTV opened #51 "[Feature Request] Toggle Filter on/off"
Hi everyone,

Would be nice to have the functionality to toggle filter visibility of scenes and sources.

Websocket should be able to do this as it is already implemented in the official Streamdeck app

[2021-01-30 23:22] Rizotochaud commented on #51
+1

Filter Visibility is very useful to control plugin filters that react to their visibility state.
According to obs-websocket protocol.md, it's the command SetSourceFilterVisibility
https://github.com/Palakis/obs-websocket/blob/4.7.0/docs/generated/protocol.md#setsourcefiltervisibility
We need to set Source, Source's filter & then the filter's state to make the command work.

[2021-02-08 11:21] benjaminpick opened #53 "[Feature request] Set volume"
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setvolume

It would be amazing to be able to set the volume of the source. Buttons could be "set volume" and "adjust volume".

[2021-02-10 19:50] micodeyt opened #55 "Transition duration bug in "Transition preview to program""
When using the "Transition preview to program" action, a 2ms duration is used whatever the "Transition time (in ms)" parameter value I set.

OBS version : 26.1.1
Companion version : 2.1.2

[2021-02-14 15:20] #36 closed

[2021-02-14 17:00] #43 closed

[2021-02-14 21:33] eric commented on #47
Can you reconfirm this doesn't work? I've been using it successfully.

Additionally, #56 has made these dropdowns instead of fields that need to be typed in.

[2021-02-14 21:35] eric commented on #52
I have run into crashes that were fixed by Palakis/obs-websocket#644.

Also, #44 has had a big impact on doing less reloads.

[2021-02-14 21:35] eric commented on #22
This can be closed now.

[2021-02-14 21:53] #22 closed

[2021-02-16 11:25] #48 closed

[2021-02-21 20:52] high-solutions commented on #50
I have the same issue, a single key is maybe doable, but how do you trigger an "ctrl-alt-shift-1" combo???

[2021-02-24 12:51] tmurfin opened #57 "Switching Profiles?"
I was looking to be able to switch to different profiles, and did not see a way to do so. Not sure if i am missing something, or if its not there. Is it a possibility to build that feature in?

[2021-03-03 11:57] DachsbauTV commented on #52
Tried it just now and it still crashes when closing OBS.

CPU Usage seems to be better now though

[2021-03-07 05:38] chrishanel opened #58 "OBS: Change Colors from Active/Previewed Source"
**Describe the feature**
Extend the existing "Change Colors from Active/Previewed Scene" to provide similar behavior for individual sources contained in PVW/PGM.

**Usecases**
I use Companion with OBS for an esports broadcast. My main gameplay scene uses a nested Observer Feeds scene, which is a collection of every gameplay stream as a list of sources. Then, in Companion, I have a set of buttons,

[2021-03-08 06:17] eric commented on #52
@DachsbauTV you tried the latest nightly build of the OBS websocket plugin?

[2021-03-08 13:22] DachsbauTV commented on #52
No but someones working on it https://github.com/Palakis/obs-websocket/issues/645#issuecomment-792605103
:)
I unfortunately dont have the time to test at the moment

[2021-03-10 04:26] atscomms opened #59 "Start (NDI) Virtual Camera"
**Describe the feature**
Please support the OBS plugin "NDI Virtual Camera Output" with a toggle function to Start /Stop it.

**Usecases**
Add a couple of usecases for why this should be implemented and when/why to use it.

[2021-03-12 16:36] DachsbauTV commented on #47
It does work like a charm now. Many Thanks

[2021-03-12 16:36] #47 closed

[2021-03-15 20:51] mcavicchi opened #60 "Creating an OBS instance"
I am new to this but I stumped my coworker who has been using Companion for awhile.
I am setting up OBS Studio in Companion for the first time but I am getting an error. Status flicks back and forth between OK and Connecting and the log says "instance(obs) Connection lost to OBS".
I was able to setup up OBS in the Stream Deck Software but would prefer to set it up in Companion.
I was also able to

[2021-03-15 22:47] bryce-seifert commented on #60
I was able to recreate this by setting obs-websocket to "Enable authentication" and then having an **incorrect** password under the config in Companion. It seems to get stuck in a loop of trying to connect.

[2021-03-16 02:01] mcavicchi commented on #60
Thank you so much. That was the problem. Fixed!

Mike Cavicchi

[2021-03-16 22:00] gohamstergo opened #62 "[Bug] Transition "Cut" is actually default transition."
"obs: Transition Preview to Program - Transition to use: Cut" doesnt actually do a Cut, it just engages the default transition that is set in OBS under "Scene Transitions." Should rename the current action to "Transition" (since thats what the button in OBS is labeled), and create a new button that engages the "Cut" transition specifically.

Currently, to initiate a Cut, you have to have 2 actions

[2021-03-16 22:20] gohamstergo commented on #51
adding my support. this would be great

[2021-03-16 22:20] gohamstergo commented on #50
https://github.com/bitfocus/companion-module-obs-studio/issues/33

[2021-03-16 23:53] gohamstergo opened #63 "[Feature Request] Add nested Scenes as Sources for Instance Feedback"
In Instance Feedback "Change colors when source visible," nested Scenes should show in the Source list.

[2021-03-17 03:50] bryce-seifert commented on #62
What version of OBS/websocket + platform are you experiencing this on. Trying to recreate this, but haven't been able to yet–it seems to be working properly for me on macOS 26.1.2

[2021-03-17 04:06] gohamstergo commented on #62
my bad:
OBS 26.1.1
websocket 4.9

On Windows 10. So, you can set the scene transition to something like Fade, then click Cut in Companion and it cuts? I find it just does whatever transition I have selected on OBS.

[2021-03-17 04:28] bryce-seifert commented on #62
Yeah, no matter what I change the transition in OBS to it seems to switch back to cut when I used the Companion action.

Also what version of Companion are you using, one of the latest betas?

[2021-03-17 04:43] gohamstergo commented on #62
No beta, just 2.1.2.

[2021-03-17 13:57] bryce-seifert commented on #62
I would try one of the 2.2.0 betas if you have a chance  just to see if that resolves it, there have been some changes including to the web socket version used since then.

[2021-03-17 16:39] gohamstergo commented on #62
Updated to 2.2.0-53dfc78-2881 but behavior is the same. Is there a way to see the raw command being sent somewhere in the logs? All I see in Companion log is button pressed/released.

[2021-03-17 20:48] bryce-seifert commented on #62
Ok, I think I figured this one out.

So it seems like the "default" on the dropdown menu was set to 'null'. So even though the first transition in the list, likely Cut, was shown as selected in the dropdown, it wasn't sending a transition name, thus sending the default. If you were to select a different transition on the list, and then select Cut again it would work, which is why I had trouble rec

[2021-03-17 21:25] gohamstergo commented on #62
Great! That make sense. And thanks for the workaround, that works as well. Selected something else, then back to Cut and it functions properly. Appreciate the help.

[2021-03-17 21:55] gohamstergo opened #65 "[Feature Request] Additional 'Instance Feedback' items"
Would be nice to have "change colors when source active" which would be different than the current "...source visible" in that this one would show if the eyeball is on or off as opposed to the source being "live" on the program output. This would give "toggle visibility scene item" an effective instance feedback for any source you toggle in any scene. Currently, using "latch" and the top button ba

[2021-03-17 22:01] gohamstergo commented on #65
Second:
In Instance Feedback, "Change colors when source visible," nested Scenes should show in the Source list.

[2021-03-17 22:01] gohamstergo commented on #63
merged with https://github.com/bitfocus/companion-module-obs-studio/issues/65

[2021-03-17 22:01] #63 closed

[2021-03-18 18:15] bryce-seifert commented on #57
This is available in the latest betas, which you can download under [Beta Builds](https://bitfocus.io/companion/download/builds/). It's called "Set Profile"

[2021-03-19 00:15] #33 closed

[2021-03-19 00:15] #50 closed

[2021-03-19 00:16] #62 closed

[2021-03-19 00:18] #49 closed

[2021-03-19 00:18] #59 closed

[2021-03-19 02:36] #60 closed

[2021-03-19 04:27] gohamstergo commented on #65
hmm, my first item could be similar to: https://github.com/bitfocus/companion-module-obs-studio/issues/58

[2021-03-19 18:41] gohamstergo opened #68 "[Question] HTTP Post for unsupported commands"
Is there a way to use the Generic HTTP Post instance in Companion to send commands to obs websocket? I've tried entering the IP:port in the URL field and the whole json line from the websocket logs but that doesnt seem to work. Anyone had any luck using this route?

[2021-03-19 18:49] gohamstergo commented on #68
i found this: https://github.com/bitfocus/companion-module-obs-studio/issues/48 that mentions using "generic websockets" but i see no such instance in 2.2.0

[2021-03-19 18:54] gohamstergo commented on #48
@josephdadams is there any status on the Generic Websockets instance? I'm not seeing it in 2.2.0.

[2021-03-19 18:56] #68 closed

[2021-03-19 19:03] josephdadams commented on #48
No one has submitted code for a generic websockets module. I created the repo and gave @krzyc access to it, but the invitation was never accepted.

[2021-03-19 20:25] gohamstergo commented on #48
for future reference: https://github.com/bitfocus/companion-module-generic-websocket

[2021-03-25 02:33] timmilne opened #69 "Instance Feedback for new Outputs (Virtual Camera)"
#66 closes #49 functionality wise, but now we need instance feedback, and a start/stop toggle like Streaming:

Key Down/On Actions:
OBS: Start and Stop Output (with a drop down selector to specify which output)

Instance Feedback
OBS: Output is On (with a drop down selector to specify which output)

[2021-03-25 02:34] timmilne commented on #49
See new issue #69

https://github.com/bitfocus/companion-module-obs-studio/issues/69

[2021-03-25 15:10] timmilne commented on #59
See new issue #69

[2021-03-25 16:44] xathon opened #70 "Feature Request: Smart Scene Switcher"
**Describe the feature**
Currently, Companion only supports loading scenes either into Program or into Preview. The BarRaider OBS Streamdeck plugin supports a feature called "Smart Scene Switcher". You get a button per scene. If you press it, it loads the scene into the Preview window, but if the scene already is in the Preview window, it transitions the scene to live. This would be great to have

[2021-03-25 20:56] atscomms commented on #69
I tried thess "obs: Start (Stop) Output, They didn't work.
I can control sources and scenes, but these actions don't seem change the state of the Virtual Camera

[2021-03-26 13:06] DachsbauTV commented on #13
By now i finally understand what I actually need:

Just a Variable that reads the text from the Text(GDI+) Source.

Anyone an idea if this could work?

[2021-03-26 13:15] DachsbauTV opened #72 "More Variables"
Hi amazing people,

I think a couple more variables could go a long way for this module. The most exciting ones I've found are these:

- remaining time and/or state of a playing media source (in combination with the vicreo tally extension one could let the end of a video automatically trigger an action)
- current playing media file name and/or in vlc playlists: next media file name
- Text(GDI+) va

[2021-03-26 15:39] timmilne commented on #69
They work fine for me.  I'm using the following versions OBS/Websockets/Bitfocus on a PC and Mac:

OBS: 26.1.2
OBS Websockets Server plugin: 1620 (or later, I'm using 1654) <-- This is important
Bitfocus Companion (Experimental Build): 3158

https://bitfocus.io/companion/download/build/companion-2.2.0-2ee698e6-3159-mac.dmg
https://bitfocus.io/companion/download/build/companion-2.2.0-2ee698e6-3159-

[2021-03-28 20:01] bryce-seifert commented on #55
I'm not able to recreate this. Have you tried one of the latest [Beta Builds](https://bitfocus.io/user/downloads)? What version of OBS Websocket are you using?

[2021-03-28 22:18] sunsetsbrew commented on #51
+1 YES!!  I would love this, source filter visibility control would be amazing.

as @Rizotochaud said, https://github.com/Palakis/obs-websocket/blob/4.7.0/docs/generated/protocol.md#setsourcefiltervisibility is the proper implementation

[2021-03-29 03:09] MixDatSalt opened #78 "Issue With Source Visibility "Toggle" on a Source That's in a Group"
The issue is that the "Toggle" option only activates the Source if it's in a group. It does not hide it.

Setting the value to "True" or "False" both work perfectly even if "x" source is in a group so this should be possible to fix unless I'm missing something.

Obviously, there are workarounds such as making a hotkey ID for the source or just using True or False and being okay with having to pres

[2021-03-29 11:47] bryce-seifert commented on #78
I was able to recreate this. This feature also does not seem to function properly when OBS is in Studio Mode. I'll take a look at it.

[2021-03-30 02:58] bryce-seifert commented on #78
I found the solution to this. It's going to take a little bit, because it led me to working on a larger re-work of how the module handles grouped sources.

[2021-03-30 08:06] BoStaahle commented on #51
+1 I was just looking for this, been trying to get it to fire with obs-cli via Internal: Run and Vicreo Send Shell Command
without luck (but that is probably my end).

You could even add Feedback options with
https://github.com/Palakis/obs-websocket/blob/4.7.0/docs/generated/protocol.md#getsourcefilterinfo

Does require websocket version 4.9.0 (on MacOS at least.)

[2021-03-31 02:33] MixDatSalt commented on #78
Thanks for looking into it!

[2021-03-31 10:00] jmcc94 opened #79 "Issue with Feedback in Studio Mode for either 'Change Colors when source visible' or 'Change Colour when source enabled in scene'"
The feedback of either 'Change Colors when source visible' or 'Change Color when source enabled in scene' doesn't change when in Studio Mode after successful change.

We have Scene A and Scene B that contain Scene Z as a source, which then itself contains Source 1.

In studio mode, with Scene A in program and Scene B in preview, we then 'Toggle visibility scene item' the Source is toggled appropri

[2021-03-31 10:08] jmcc94 commented on #51
+1

Would enable us to control the fade in / face out of sources within scenes.

[2021-04-01 03:12] bryce-seifert commented on #79
Yes, I noticed this when I was working on #78.

My re-write of group handling fixed the issue for sources. I'm still finishing this up, and an item on my to-do is also handling sources in nested scenes

[2021-04-02 21:40] #69 closed

[2021-04-02 21:43] #35 closed

[2021-04-02 21:44] #70 closed

[2021-04-03 03:42] #53 closed

[2021-04-03 03:54] #17 closed

[2021-04-03 03:54] #29 closed

[2021-04-03 03:54] #37 closed

[2021-04-03 03:54] #55 closed

[2021-04-03 03:54] #57 closed

[2021-04-03 14:44] DachsbauTV commented on #72
I've found the corresponding info for the Text(GDI+) variable:
- GetTextGDIPlusProperties
- Request field: " `source` | String | Source name"
- Response Item: " `text` | String | Text content to be displayed."

[2021-04-06 21:13] bryce-seifert commented on #83
Have you tried this on the latest [2.2.0 Beta Builds](https://bitfocus.io/companion/download/builds/)?

I'm not able to recreate this there. Possible it was related to this bug that was solved: https://github.com/bitfocus/companion-module-obs-studio/issues/60

[2021-04-07 01:06] champagj commented on #83
I managed to get around the issue at some point on the same built and it is very possible it was related to password confusion.

In any case this could be closed.

[2021-04-07 01:06] #83 closed

[2021-04-09 05:02] jmcc94 opened #84 "Additional Actions/Feedback/Variables"
Would it be possible to get the following added to the module. They are all available in the obs-websocket protocol document

Additional Actions
- Set Filter Visibility
- Set Transition Duration
- Set Audio Monitor Type
- Take Source Screenshot
- Refresh Browser Source

Additional Feedback
- Transition Started
- Transition Ended
- Current Transition
- Filter Visibility
- Audio state of Source
- Au

[2021-04-09 14:21] DachsbauTV opened #85 "[BUG] Trigger by Hotkey ID will only trigger in one scene"
Hey people,

I have found something unfortunate about the new hotkey ID feature:

When triggering through companion it will only trigger the first scene that contains the according element (filter in my case) and not everything that has the ID.

Expected behavior is that it triggers every element in OBS that has the same name.

[2021-04-10 14:51] bryce-seifert commented on #85
How are you assigning hot keys to filters? As far as I know OBS's default Hot Key settings don't have an option for filters.

Also, in my testing (using Show/Hide and Hotkeys) the Hotkeys in OBS are Scene specific. When you use the Hotkeys outside of companion, does it perform the expected behavior?

[2021-04-10 15:07] DachsbauTV commented on #85
I am using the "Motion effect" plugin to animate my sources, which works as filters that are added to the scenes.
These can have hotkeys assigned to them

" the Hotkeys in OBS are Scene specific" That is the issue I am encountering. In my logic the hotkey ID should be source specific and not scene specific.

[2021-04-10 15:27] bryce-seifert commented on #85
Thank you for the clarification on what plugin you are using.

I think I understand the issue now, and was able to recreate it. I think getting the result you expect would require using [TriggerHotkeyBySequence](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#triggerhotkeybysequence) instead.

Going to test implementing this to see if it works now.

[2021-04-10 15:34] bryce-seifert commented on #85
Just confirmed via testing this is what is needed. Going to work on implementing this soon.

[2021-04-10 18:13] bryce-seifert commented on #84
I'll take a look at adding some of these soon. I know Filter Visibility has been requested before (https://github.com/bitfocus/companion-module-obs-studio/issues/51)

[2021-04-12 02:02] bryce-seifert commented on #84
Have a pull request up for most of this. Still working on the following, which will require a bit more work:
- Audio state of Source
- Audio Monitor Type
- Filters

[2021-04-12 10:18] jmcc94 commented on #84
Happy to test when able to...

[2021-04-14 20:14] #65 closed

[2021-04-14 20:14] #78 closed

[2021-04-14 20:14] #79 closed

[2021-04-14 20:14] #85 closed

[2021-04-14 21:32] bryce-seifert commented on #85
@DachsbauTV Will you give the latest [beta build](https://bitfocus.io/companion/download/builds/) a try and see if the " Trigger hotkey by key" action works for you?

[2021-04-15 02:37] jmcc94 commented on #84
Have started testing what has been merged with companion master (#87).

So far looks good.

Would it be possible to also get RecordingPaused as feedback, and added to the variables?

[2021-04-15 02:44] jmcc94 opened #89 "Behaviour of specified transition using 'Transition preview to program'"
When specifying the transition and/or a duration to use within the 'Transition preview to program', it overwrites the 'default' transition within OBS. So that next time a 'default' transition is called it uses the newly changed transition.

Ideally I would like to see that a 'default' transition is stored (can be changed using set transition), and a specific transition could be used without changi

[2021-04-15 02:50] bryce-seifert commented on #84
Thanks for testing!

I'll add those additions to my list.

[2021-04-15 02:54] bryce-seifert commented on #89
So basically after using that action, the expected behavior is if the action transition != previous transition used, it returns to the previous transition? I can take a look at this.

[2021-04-15 05:44] jmcc94 commented on #89
Exactly - I was looking for a result similar to using 'Quick Transitions' in OBS front end - where a transition can happen without changing the 'default' transition.

It would be fantastic if this module could access that behavior as well - preset transitions with specific settings could be stored, and recalled as appropriate.

Thanks for all your work on this!

[2021-04-15 05:48] jmcc94 commented on #84
Also - could we also get the transition time back as feedback. Something similar to this X32 feedback...

![image](https://user-images.githubusercontent.com/81594959/114820071-8b623080-9e12-11eb-8c74-0e745058c953.png)

[2021-04-16 06:58] jmcc94 opened #90 "Filter 'Source name' based on 'Scene name'"
When using either an action or feedback that is based on a source within a scene ('Toggle visibility scene item' or 'Change colors when source enabled in scene', the scene dropdown shows all possible sources within OBS.

What would be useful if it was filtered based on the scene chosen in the other dropdown (or if no scene is chosen, then all sources within the current scene'

[2021-04-16 14:03] DachsbauTV commented on #85
Works perfectly fine :) great work.

Just one little suggestion: change the dropdown field for a regular text field. As companion unfortunately doesn't allows key inputs in Dropdown fields, it can get annoying to scroll through so many letters

[2021-04-16 14:24] bryce-seifert commented on #85
@DachsbauTV the dropdown field should take text input and be searchable in this case, is that not working for you?

This ensures that the exact hotkey ID is correct instead of the user trying to find it on their own.

[2021-04-16 18:26] bryce-seifert commented on #90
I was kind of thinking this too. I'll take a look at it.

[2021-04-17 08:44] DachsbauTV commented on #85
Sorry my bad, it actually does, it just didn't work at first through my vnc.

Thanks @bryce-seifert

[2021-04-17 15:54] bryce-seifert commented on #89
So I have this half-working using the Execute Batch command to send both the TransitiontoProgram and then SetTransition. After some debugging to try and figure it out, I *think* the issue is that OBS gets confused if the SetTransition action happens while a transition is active.

So, this one may have to wait on the [Sleep parameter](https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/g

[2021-04-17 20:16] jmcc94 commented on #89
Thanks for your work on this! It probably doesn't help that TransitionToProgram changes the active transition if specified, not just using the specified for only that time.

My use case is I have 'AUTO' button that uses the default transition (which I can change on another page) as well as a specific 'CUT' transition button. Whenever I use the cut button, it changes the default transition... very

[2021-04-21 06:26] bohdankolesnykua opened #92 "2.1.3 Crashes an OBS Studio 26.1.1"
Just tried to update from 2.1.2 to 2.1.3 and get a solid crash of OBS. PC, Win10x64, inside of Companion sketch there are only few identical buttons that changes scenes with long press function. When 2.1.3 is active, after launching an OBS it runs only few seconds and crashes. If OBS was launched first and after that 2.1.3 started - OBS also crashes.
Returned to 2.1.2 - stable.

[2021-05-01 20:59] JonaChurch opened #94 "Hotkey ID"
Hello,
I am not sure it would be the thing for you to give me this  very basic advice,
But this is my question:
I got companion running on OBS and want to use the Trigger Hotkey by ID function
I do not understand everything on the Bitfocus website
They say I need to enter the value of the Hotkey, but I don't know what I have exactly to enter.
This is an example
lyric_clear_hotkey={\n "bindings": [

[2021-05-02 20:14] bryce-seifert commented on #94
Here's the text from under the help info under the module, hopefully this example is helpful:

If Hotkey IDs are giving you issues, I would also recommend trying "Trigger hotkey by key" in the [latest betas](https://bitfocus.io/companion/download/builds/), it's slightly simpler to use.

[2021-05-02 20:21] bryce-seifert commented on #84
Latest beta should have:
Recording pause color added to recording feedback
Recording "pause" state added to recording variable
Transition duration variable + feedback

[2021-05-02 20:43] jmcc94 commented on #84
Fantastic - will test when i have a chance.

[2021-05-02 21:34] JonaChurch commented on #94
thank you for you effort
Please consider I  am not familiar with working on this level of computer languag (its like Chinese language to me), so if someone says „take the value and put it into companion“ I do not know which characters are value, which are not.

I think I just need one example to see then I am good to go

So this is the Hotkey in OBS

SHIFT SPACE

This is the line in the basic.ini

[2021-05-02 21:38] bryce-seifert commented on #94
No worries, I'm here to help.

So in that example, what you would enter into companion is:

`OBSBasic.TogglePreviewProgram`

Let me know if that works!

Glad you are liking the Trigger by key feature. I would recommend testing the betas for a while before using them.

[2021-05-02 21:58] JonaChurch commented on #94
great, got it. Thank you so much!!

I thought I had to find some necessary stuff from the other characters to put into companion like some of shift and true and so, didn’t know it would be so easy

So I can now go back to the „old“ stable release and do all my hotkey buttons

Thank you!!
Carolina

[2021-05-02 22:48] #94 closed

[2021-05-04 18:49] Cypris2010 opened #95 ""Trigger Hotkey by key" is missing"
I updated to the newest version, witch was releaed 2 days ago. I can't find "Trigger Hotkey by key "

It should be under the OBS items, right?

[2021-05-04 18:58] #95 closed

[2021-06-02 00:12] karlthepagan opened #97 "Action: Toggle visibility scene item, Toggle mode does not disable item which is nested in a group (OBS 27.0.0)"
OBS 27.0.0

I'm using the "Toggle" mode for item visibility. This works to show, but not to hide the scene items which are nested within groups.

[2021-06-02 00:13] karlthepagan commented on #97
![image](https://user-images.githubusercontent.com/308745/120405122-b5a57a00-c2fc-11eb-8861-cc4724bb2168.png)

[2021-06-02 00:14] karlthepagan commented on #97
Moving these sources out of their source groups did not resolve the issue.

[2021-06-02 00:17] karlthepagan opened #98 "Instance feedback: Change colors when source enabled in scene is not responsive when the source is in a group (OBS 27.0.0)"
This seems to accept the state when the feedback is created, but it does not update when that source is inside a group.
![image](https://user-images.githubusercontent.com/308745/120405335-2d73a480-c2fd-11eb-8313-3fd1fd6047d7.png)
![image](https://user-images.githubusercontent.com/308745/120405355-36fd0c80-c2fd-11eb-894e-f568161d6f42.png)

[2021-06-02 00:17] karlthepagan commented on #98
![image](https://user-images.githubusercontent.com/308745/120405380-48461900-c2fd-11eb-8254-40c89b928222.png)

[2021-06-07 16:02] Cypris2010 opened #99 "Scene Item Visibility in preview"
Short Question. Is it possible to change scene item visibility for preview scene?

If not, I think it should be possible.

I looked into it it cloud work, with minor code changes. But I don't understand the structure of die module code yet:
At szene selction there should be an option "Preview scene". If you select this, later in the code the websocket function cloud call https://github.com/Palakis

[2021-06-08 15:41] #51 closed

[2021-06-08 19:48] bryce-seifert commented on #84
@jmcc94 Filter toggling is available in latest betas, feel free to test when you get a chance.

That leaves these on the to-do list:

- Audio state of Source
- Audio Monitor Type

[2021-06-08 19:49] bryce-seifert commented on #51
@DachsbauTV @Rizotochaud @BoStaahle @gohamstergo @sunsetsbrew Filter toggling is available in the latest beta builds, please test and let me know if there are issues

[2021-06-08 19:51] gohamstergo commented on #84
i see the listing in the beta, but no builds available. any idea?
![image](https://user-images.githubusercontent.com/8529475/121248362-f8210680-c868-11eb-888f-51ba40efa2f0.png)

[2021-06-08 19:53] bryce-seifert commented on #84
@gohamstergo As long as you pick a build more recent than that one, it should be there.

[2021-06-08 19:54] gohamstergo commented on #84
oh ok gotcha. wasnt sure if these were all sepearate updates or aggregates. thanks!

[2021-06-08 19:55] bryce-seifert commented on #97
@karlthepagan Which version of companion are you using? Can you try the a [recent beta build](https://bitfocus.io/companion/download/builds/)?

[2021-06-09 12:14] BoStaahle commented on #51
@bryce-seifert works for me, latest beta Companion, OBS 27.0.0 (MacOS), Chroma Key filter toggle with feedback.

Thank you.

[2021-06-10 22:55] gohamstergo commented on #84
@bryce-seifert tried latest beta and working great! would it also be possible to toggle the visibility of Scene Filters?

[2021-06-11 11:46] bryce-seifert commented on #84
@gohamstergo Hmmm it should work with scene filters. However, I think right now the dropdown is only exposing scenes that are also sources. I look at adding scenes even if they are not also sources.

There is a feedback called "Change colors from active/previewed scene", does that accomplish what you're looking for, or are you expecting a different behavior?

[2021-06-11 11:53] bryce-seifert commented on #52
Looks like the latest version of [obs-websocket 4.9.1](https://github.com/Palakis/obs-websocket/releases/tag/4.9.1) should have a fix for this.

[2021-06-11 11:53] #52 closed

[2021-06-11 17:14] gohamstergo commented on #84
@bryce-seifert ya, scenes only show if nested within another scene as a source currently.

and i think youre right about the feedback, may have just missed that one. ill check that when im back at my pc. thanks!

[2021-06-12 04:13] bryce-seifert commented on #92
Had user (on Facebook) update to latest web socket build + Companion build, issue resolved

[2021-06-12 04:13] #92 closed

[2021-06-12 04:16] bryce-seifert commented on #42
I've added some of the mentioned features (filters, stop/start outputs), and there is also a [generic web sockets module](https://github.com/bitfocus/companion-module-generic-websocket)under dev for Companion if you need more custom control, so I'm going to close this.

[2021-06-12 04:16] #42 closed

[2021-06-13 21:03] bryce-seifert commented on #98
@karlthepagan Which version of companion are you using?

[2021-06-14 17:24] gohamstergo opened #101 "[Question] OBS Websocket 5.0"
@bryce-seifert Just wondering if you've heard about the 5.0 rewrite and if you plan to support. Thanks for the continued work, as always.
https://github.com/Palakis/obs-websocket/releases/tag/4.9.1 (lower on that page)

[2021-06-14 18:21] bryce-seifert commented on #101
Good question! This module uses obs-websocket-js, and they've announced [they're working on version 5 support](https://github.com/obs-websocket-community-projects/obs-websocket-js/discussions/241), so we should be set!

[2021-06-14 18:21] gohamstergo commented on #101
great, thank you!

[2021-06-14 18:21] #101 closed

[2021-06-15 08:25] DachsbauTV commented on #51
Works like a charm! Even with plugin filters! amazing work @bryce-seifert

[2021-06-15 16:26] karlthepagan commented on #98
I'm on v2.1.3 / windows

[2021-06-15 16:30] karlthepagan commented on #97
Resolved in companion-2.2.0-12980584-3400-win64.exe

[2021-06-15 16:30] #97 closed

[2021-06-15 16:32] karlthepagan commented on #98
Resolved in companion-2.2.0-12980584-3400-win64.exe

[2021-06-15 16:32] #98 closed

[2021-06-17 08:34] DachsbauTV commented on #52
Works great now! Thanks fopr the amazing work

[2021-06-17 09:14] DachsbauTV commented on #51
oh one thing:

The scene filters are missing @bryce-seifert
any chance you could add those too?

cheers

[2021-06-17 13:19] bryce-seifert commented on #51
@DachsbauTV I think the filters from the scene should be there, but someone else pointed out you can only select scenes that are also sources. That should be fixed when #100 is merged

[2021-06-18 03:35] eric opened #102 "Preview feedback should only be active in Studio Mode"
I don't believe it makes sense to have the preview feedback for a scene active when the Studio Mode is not active because it does not seem to be possible to change a scene to preview when Studio Mode isn't active.

[2021-06-21 14:16] #89 closed

[2021-06-21 14:16] #99 closed

[2021-06-21 14:16] #102 closed

[2021-07-04 17:08] #18 closed

[2021-07-04 17:08] #72 closed

[2021-07-04 17:08] #84 closed

[2021-07-04 17:08] #58 closed

[2021-07-04 17:30] bryce-seifert commented on #72
@DachsbauTV The media feedback (plus some media actions) and the text variables should be in the latest beta builds. Please test and let me know if there are any issues!

[2021-07-04 17:32] bryce-seifert commented on #58
@chrishanel @gohamstergo The feature is in the[ latest beta build](https://bitfocus.io/companion/download/builds/). Please test if you have a chance!

[2021-07-05 00:23] bhe2142 opened #104 "Fade to black"
Can't find a fade to black function. Will be good to have. Thank you.

[2021-07-05 02:27] bryce-seifert commented on #104
'Fade to Black' is a Quick Transition, which isn't exposed to obs-websocket, which this module uses. There is a [request to add that to websocket](https://github.com/Palakis/obs-websocket/issues/723), but no movement on that yet.

The workarounds for now would be creating a scene called black with no video/ audio and setting up an action to fade to that scene. Or, you can set up a Hotkey in the OB

[2021-07-07 08:32] DachsbauTV commented on #72
Thanks @bryce-seifert ! Unfortunately we are currently moving places and i won't be able to test it before mid august... really sorry about that

[2021-07-26 12:32] Cypris2010 opened #105 "Change position sources with SetSceneItemProperties"
It wolud be great if you could manipulate the properties of sceneitem / sources over the SetSceneItemProperties https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setsceneitemproperties

I think scale and position would be a great start.

And thank you for the great work you are doing.

[2021-08-03 06:06] Tanis74 opened #106 "Open fullscreen"
It would be great if you could open or close fullscreen over the companion.
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#openprojector

And thank you))

[2021-08-03 15:58] bryce-seifert commented on #106
@Tanis74 I got this done, and will include it with the next release.
https://github.com/bitfocus/companion-module-obs-studio/commit/7da38301f2415ca1eae983f3b872701063dcd26c

[2021-08-03 16:52] bryce-seifert commented on #105
@Cypris2010 Thanks, I have this lined up for the next release!
https://github.com/bryce-seifert/companion-module-obs-studio/commit/9e5d097351d57c3beff77e7f740f17604a426546

[2021-08-08 20:13] #105 closed

[2021-08-08 20:13] #106 closed

[2021-08-11 19:53] nacalai opened #108 "Add source media filename variable"
Currently we have variables like media status and recording filename available in Companion. In our TV production we would love to have a media filename variable as well. As in, showing the filename of a media source (and preferrably without the .mp4 extension). Should be easy to implement, I just don't have the skills to do it sadly.

[2021-08-12 08:36] nacalai commented on #108
Aha. I was thinking about it changing the source name and just use that,
but it needs to know the source filename to do that so I don't really see
how I could make it work. Any suggestions?

On Thu, Aug 12, 2021, 04:23 bryce ***@***.***> wrote:

[2021-08-14 02:04] bryce-seifert commented on #108
It seems like this is likely not possible with the current API. If you'd like to see it, I'd suggest opening a request in the [OBS Websocket repo](https://github.com/Palakis/obs-websocket/issues?q=is%3Aissue+media+path+is%3Aopen).

[2021-08-15 17:21] nacalai commented on #108
Hi there. I opened a request at websocket repo. They claim it is already there?

[2021-08-15 17:37] nacalai commented on #108
I guess this makes more sense now. Is it possible implementing this then? :)

So to rephrase your feature request: You want the filename to be included in the Media* events.

[2021-08-15 20:50] bryce-seifert commented on #108
Ok I think I found a workaround using the GetSourceSettings item that was pointed out above. It will be included on the next beta version.

[2021-08-15 20:53] nacalai commented on #108
Wow thanks! That was fast. Looking forward to try it when the next build comes out. Happens every few days or so?

[2021-08-16 22:08] beemop opened #116 "[BUG] Set Source Volume always sets volume to maximum"
**Describe the bug**
When using the "Set Source Volume" action for OBS in Companion, no mater what DB value is entered, the volume in OBS is always set to 0.0 DB. (Max volume)

**To Reproduce**
Steps to reproduce the behavior:

1. In Bitfocus Companion, with an OBS instance already linked, add action "OBS: Set Source Volume"
2. Select a video/audio source from the source list
3. Enter "-20.0" into

[2021-08-18 17:33] #108 closed

[2021-08-18 22:48] eric opened #110 "Variables for Source and Input volume levels"
There are actions to adjust the volume level for sources, but currently not a way to see what the current volume level is.

It would be helpful to be able to get feedback on what the current level is.

[2021-08-18 23:25] bryce-seifert commented on #108
@nacalai This should be in the latest beta for you to try!

[2021-08-20 18:19] eric opened #111 "Automatic reconnection doesn't always work"
I've noticed that sometimes companion does not reconnect to OBS correctly after OBS has been closed for a while.

I don't see anything in the logs about it, but restarting companion fixes the issue.

[2021-08-21 14:20] bryce-seifert commented on #111
How long would you say it is generally closed is before it exhibits this behavior?

[2021-08-21 14:21] bryce-seifert commented on #110
I have this ready to go with both variable and feedback for the next release https://github.com/bryce-seifert/companion-module-obs-studio/commit/2dfa29d26efad93eb9dad839601c6f3e44cb8a72

[2021-08-21 21:51] eric commented on #110
This is great!

[2021-08-21 21:52] eric commented on #111
I’ve left it turned off over night and came back to the issue.

Companion is running in macOS.

[2021-08-21 22:18] bryce-seifert commented on #111
Thanks. And does the Mac go to sleep during this time? Or do you have it always on?

If the Mac does wake from sleep, do you see the "waking instance from sleep" in the logs

[2021-08-21 22:19] eric commented on #111
No, the Mac was at the Lock Screen but never suspended.

[2021-08-21 22:20] eric commented on #111
I haven’t seen anything in the logs about a failed connection or any such issue. Sometimes no commands work, other times the commands work but the feedback doesn’t update.

[2021-08-23 10:36] nacalai opened #112 "Media filename variable not updating"
Hi there. Loving the added media filename variable, however I discovered that the variable doesn't update if I go into a media source and pick another video as the file.

It does update if:
- I output it to program.
- I restart companion, without putting the media source into program. This indicates it's not limitation in OBS where I thought you would have to make the media active for it to update

[2021-08-24 00:51] bryce-seifert commented on #112
Currently this is expected behaviors, it's only looking for changed when a media clip is played.

I'll see if I can find a way to check this more regularly, while also not overloading it by checking too often.

[2021-08-24 02:22] bryce-seifert commented on #111
Trying to recreate this.

When you say " at the Lock Screen" do you mean at the log-in screen where you enter your password? For me that suspends the whole companion process while logged out.

[2021-08-24 02:24] eric commented on #111
Yes, the screen where I enter my password. I haven’t checked if I can still use the Streamdeck while at that screen, but my concern has been with having the Streamdeck work again after the computer is unlocked.

[2021-08-24 02:28] bryce-seifert commented on #111
For me, after I get to the login screen and log back in, Companion itself it suspended so I'm unable to use any actions / Streamdeck until I relaunch the app.

[2021-08-24 21:46] eric commented on #111
I may have been wrong about what was causing the issues. I just found that when I change Scene Collections everything seems to stop working until I use the OBS reconnect command. Maybe there's an issue there...

[2021-08-24 22:55] bryce-seifert commented on #111
Ok, yes I was able to recreate this. So I'm thinking that was the root of the issue, will continue to investigate

[2021-08-31 14:34] andycapx opened #113 "Connection flapping to OBS websocket server"
I am running OBS Studio and Websocket Server on Debian 11. Currently both applications are compiled from latest source, OBS Studio 27.1.0-rc1-1-gb34e6ae76 (linux) and Bitfocus Companion 2.2.0 (2.2.0-93832640-3524). Set both to port 4444 (using local IP or 127.0.0.1). Popup "New WebSocket connection - Client 127.0.0.1:56xxx connected"  and "WebSocket Client disconnected - Client unknown disconnecte

[2021-08-31 17:37] nacalai opened #114 "Variables stop updating"
Hi there! This is a bit of a strange one. All OBS variables just seemingly stop updating after a certain time, or, after certain actions. I am having troubles troubleshooting this and narrowing it down.

Running latest beta. It also happened many many betas back.

I have traditional mixer setup in Companion. Cam 1-4, with green/red color feedbacks. I can spam those as much as I want without any pr

[2021-08-31 17:39] nacalai commented on #110
Any news on when this will be put in? Really looking forward to it!

[2021-08-31 20:06] eric commented on #114
Sounds like it may be related to what I saw in #111

[2021-08-31 20:36] nacalai commented on #114
@eric Perhaps. Although in this case the variables/feedback stop working almost instantly, regardless of how long OBS is running etc. It happens as soon as I start switching to video playbacks and stuff. Very strange.

[2021-09-01 03:17] bryce-seifert commented on #113
What version of obs-websocket are you using?

[2021-09-01 03:18] bryce-seifert commented on #114
For testing purposes: which variables are you using that stop working?

[2021-09-01 03:21] bryce-seifert commented on #110
Should be soon, just created a pull request https://github.com/bitfocus/companion-module-obs-studio/pull/115

[2021-09-01 06:45] nacalai commented on #114
Well, it's all of them. That is the odd part. They all stop updating. I am
mainly pulling preview/active scene

On Wed, Sep 1, 2021, 05:19 bryce ***@***.***> wrote:

[2021-09-01 09:55] andycapx commented on #113
Hi, I am using 1.0.24

[2021-09-02 00:16] bryce-seifert commented on #116
Can you please try the [2.2 betas](https://bitfocus.io/companion/download/builds/), and see if the issue persists.

[2021-09-02 01:25] bryce-seifert commented on #114
I think I figured out why this is linked to videos playing. Turns out, for some reason when manually playing a clip, OBS websocket is firing both MediaPlayed and MediaStarted event, and in between those the module was trying to update the list of media sources which caused it to be undefined during the second check. So I have a fix that I'm going to test that should resolve.

[2021-09-02 01:33] nacalai commented on #114
That sounds great! But isn't it weird that all variables just stopped
updating because of that

On Thu, Sep 2, 2021, 03:25 bryce ***@***.***> wrote:

[2021-09-02 01:37] bryce-seifert commented on #114
It was causing an uncaught exception, so that is expected that it affected everything

[2021-09-02 01:47] nacalai commented on #114
Ah I see. We run the next show in 10 hours and we are a bit dependent on
the feedbacks. Too much to hope for a new companion build by then?

On Thu, Sep 2, 2021, 03:37 bryce ***@***.***> wrote:

[2021-09-02 01:51] bryce-seifert commented on #114
Have you tried [this build](https://bitfocus.io/companion/download/build/companion-2.2.0-c1789b53-3510-win64.exe)? It's right before the change that I think caused this issue was made.

[2021-09-02 02:22] bryce-seifert commented on #113
Are you able to see an errors in the Log tab on Companion?

[2021-09-02 11:49] andycapx commented on #113
Please find attached the logs. I cannot see some more history. I guess the logs are cleaned each time the application is started.

[logs.zip](https://github.com/bitfocus/companion-module-obs-studio/files/7098572/logs.zip)

[2021-09-02 12:36] bryce-seifert commented on #113
@andycapx Thanks. Did you mean to close this issue? Or are you still having the problem?

[2021-09-02 14:51] andycapx commented on #113
In general the logs looks fine, but the  problem is still there. Even with no detailed log entry causing the connection loss.

[2021-09-02 14:53] bryce-seifert commented on #113
Would you be able to put websocket in debug mode, and upload those logs from OBS?

[2021-09-03 11:38] andycapx commented on #113
I have reinstalled everything and the problem has gone. So please close this ticket.
Thank you very much for your effort and investigation.

[2021-09-03 11:38] #113 closed

[2021-09-05 04:32] beemop commented on #116
It's working now in the 2.2.0 beta! Thank you!

[2021-09-05 04:32] #116 closed

[2021-09-06 19:00] stevespaw opened #117 "DSK plug-in"
I have just started looking at OBS again. I like using the DSK plug-in.
[https://obsproject.com/forum/resources/downstream-keyer.1254/](url)
Is there a way to control with the module?
This would be super powerful...

Steve

[2021-09-07 12:23] #110 closed

[2021-09-07 12:23] #112 closed

[2021-09-07 12:23] #114 closed

[2021-09-08 00:18] bryce-seifert commented on #114
@nacalai Should be in the betas now, let me know if this fixes it.

[2021-09-08 12:16] DachsbauTV commented on #72
hey @bryce-seifert

Thanks for hte great work, everything works fine. Especially the variable for the text source is a game changer for us!

The only thing I'm still missing (though i don't know if possible) would be a variable for the name of the currently playing/visible media file?

[2021-09-08 22:13] bryce-seifert commented on #72
@DachsbauTV I need to tinker with that a bit. The main hurdle id that there can be many media clips playing a once within OBS, depending on how your scenes are setup, so trying to think if there's a useful way to display that data.

[2021-09-11 01:32] bryce-seifert commented on #117
It doesn't seem like the DSK plug-in has an API or way to control it using websocket. So unfortunately until they have that, it won't fit in with this module.

[2021-09-11 01:32] #117 closed

[2021-09-24 15:35] capncrunch opened #118 "Crash in OBS when changing scene collections"
**Describe the bug**
With companion 2.2.0-a8984e8e-3544 connected, OBS crashes with an invalid memory access when switching scene collections. Going back to the stable release 2.1.3-6b6820cd resolves the crash.
Stopping Companion before switching scene collections also bypasses the crash.

**To Reproduce**
Connect Companion to OBS Studio, set up some buttons for scenes incl feedback, some buttons

[2021-09-25 13:12] bryce-seifert commented on #118
Yes I think this is a known error. I think it's the same as https://github.com/bitfocus/companion-module-obs-studio/issues/111 . I'm not sure what's at fault wether it's the module, websocket, or OBS  but I'm trying to figure this one out.

[2021-10-05 12:15] nickgwalkr opened #119 "Media Time Remaining Variable"
Would it be possible to get current media time remaining as a variable?

[2021-10-05 22:18] nickgwalkr commented on #119
Yea that would actually work even better for my use case!

On Tue, Oct 5, 2021 at 5:15 PM bryce ***@***.***> wrote:

--
Thanks, Nick Walker 865-803-9447

[2021-10-18 03:26] Nadjib85 opened #122 "OBS recording timecode"
<img width="1613" alt="Bildschirmfoto 2021-10-18 um 05 17 51" src="https://user-images.githubusercontent.com/92684348/137664411-4820b190-6be7-4871-bc3f-808eb94982f3.png">
<img width="923" alt="Bildschirmfoto 2021-10-18 um 05 18 18" src="https://user-images.githubusercontent.com/92684348/137664450-2859e397-49cd-475a-bf91-56607af62cb3.png">

Hello everyone, bryce, thank you very much for your refere

[2021-10-18 11:54] #122 closed

[2021-10-22 11:00] nacalai opened #123 "Image filename variable"
We have media source filename variable that was recently added in. Could we also have an image filename variable? It would be very neat for our lower thirds to automatically update names on the streamdeck to reflect whatever they are called in explorer.

[2021-10-26 07:04] segru13 opened #124 "How to install this Mod?"
Hi guys
How do I install this mod correctly? Is there a video or a link where it is described exactly?

[2021-10-26 11:36] #124 closed, assigned to nobody

[2021-11-02 19:37] #119 closed

[2021-11-02 19:37] #123 closed

[2021-11-03 16:33] nickgwalkr commented on #119
has this feature Feat: Add variables for media time remaining, elapsed #121 been released yet? I'm not seeing it as a Companion beta build or will it be in a future release?

[2021-11-03 16:45] bryce-seifert commented on #119
@nickgwalkr It was merged with the module, but still waiting for it to be updated in the core before it's in the beta. Will let you know when that happens

[2021-11-09 12:58] wolfling366 opened #125 "OBS instance"
I've just installed Companion v2.1.3 on my PC. When I try to add a local instance of OBS Studio, I get a seeries of errors in the log. And when I say "a series of errors";
That's 110 "Connection lost to OBS" per second.

[Streamdeck + OBSStudio + BitFocus Companion.txt](https://github.com/bitfocus/companion-module-obs-studio/files/7504819/Streamdeck.%2B.OBSStudio.%2B.BitFocus.Companion.txt)

Meanw

[2021-11-09 13:06] bryce-seifert commented on #125
This should be resolved by [downloading the one of the latest 2.2.0 betas](https://bitfocus.io/companion/download/builds/)

[2021-11-14 23:32] nacalai commented on #119
I'm not sure if I should post this as a new issue or just comment in here. Anyways. I was wondering if, after all, a general countdown timer for any media playing, is possible to implement?

I am currently using this plugin which does exactly that:
https://obsproject.com/forum/resources/media-countdown-timer.1135/ - which takes a text source and turns it into a countdown timer for whatever media p

[2021-11-16 02:42] bryce-seifert commented on #119
Yeah technically this should be possible, just trying to think of the best user experience for what happens when one video is playing and another one starts. Going to think on this and try some things soon.

[2021-11-17 16:22] xzxer commented on #125
I am running the latest version of the beta build and i am also having this same issue with OBS.

[2021-11-17 16:24] bryce-seifert commented on #125
Any other details? OS? Using a password? What version of websocket?

[2021-11-17 16:25] xzxer opened #126 "OBS wont connect to Companion"
I am running the latest version of companion 2.2.0 (2.2.0-f82fb99c-3614) and am having some issues with connecting OBS.

I cannot get it to connect to companion. Sample of the log file:

21.11.17 11:19:45 instance(obs): Connection lost to OBS.
21.11.17 11:19:45 instance(obs): Connection lost to OBS.
21.11.17 11:19:45 instance(obs): Connection lost to OBS.
21.11.17 11:19:45 instance(obs): Connectio

[2021-11-17 16:33] bryce-seifert commented on #126
What OS, what version of OBS websocket?

[2021-11-17 16:36] xzxer commented on #126
I was running 5.0.0 alpha 2

Just switched to 4.9.1 and it seems to have corrected the issue.

[2021-11-17 16:41] bryce-seifert commented on #126
Yeah this has not been tested with 5.0, which is a major overhaul of OBS websocket. The library we use, obs-websocket-js, doesn't support 5.0 yet, but will.

[2021-11-17 16:44] xzxer commented on #126
Thanks for the info. I will be on the look out for 5.0 support

[2021-11-18 00:48] #126 closed

[2021-11-18 00:49] bryce-seifert commented on #125
@wolfling366 Can you verify your version of obs websocket?
Seems like if you're using 5, it could cause a similar issue (see [here](https://github.com/bitfocus/companion-module-obs-studio/issues/126))

[2021-11-19 20:15] bryce-seifert commented on #119
@nacalai This should be present in the latest beta.
- current_media_name
- current_media_time_elapsed
- current_media_time_remaining

[2021-11-19 20:15] bryce-seifert commented on #125
This is likely an issue of the wrong websocket version. I have added a warning about using versions >= 5 in the latest beta.

[2021-11-19 20:15] #125 closed

[2021-11-19 20:18] bryce-seifert commented on #111
So it seems this issue lies with OBS websocket itself (https://github.com/obs-websocket/obs-websocket/issues/839)
And they're hoping to fix it for version 5.0

In the meantime, in that latest beta I've added an attempt to disconnect from OBS when it gets a Scene Collection change message. It helps sometimes, but not all of the time.

Going to close this since it's a websocket issue, and keep an ey

[2021-11-19 20:18] #111 closed

[2021-11-19 20:19] bryce-seifert commented on #118
Closing this, see explanation on similar issue https://github.com/bitfocus/companion-module-obs-studio/issues/111

[2021-11-19 20:19] #118 closed

[2021-11-21 14:43] Cypris2010 opened #128 "Open properties dialoge in OBS"
Perhaps I have the wrong angle on this topic, so please feel free to tell me your opinion.

I think it would be great to have a button on the streamdeck that could open the property window of OBS for a specific scene item.

I have ten mediasources in one scene an I want to change die connected video during production. I don't want to go to the scene and change it with the mouse. Well I down't want

[2021-11-21 19:14] Cypris2010 commented on #128
I found the item in die OBS API, seems to be missing in the Websocket. It's one of the last entries on this doc page:
https://obsproject.com/docs/reference-frontend-api.html

[2021-11-21 19:17] bryce-seifert commented on #128
Nice! If you want to submit it as a [request to add to websocket](https://github.com/obsproject/obs-websocket/issues), and it gets added, we'd be able to add it here!

Also not sure if this works with your workflow, but I should be able to make a button that replaces the file path? Not sure if that's another way to approach this that makes sense.

[2021-11-23 21:57] jefuslives opened #129 "Add "OBS: Change color when source muted" to feedback actions"
**Describe the feature**
The ability to use a source's mute state as a feedback param, just like is currently available for source visibility. (See feedback action 'obs: Change colors when source visible')

**Usecases**
Mute buttons that change color, etc. depending on the associated source's mute state.

[2021-11-23 22:13] jefuslives opened #130 "[BUG]Feedback (visibility) does not work for OBS sources inside groups"
**Describe the bug**
Feedback actions "obs: Change colors when source visible" & "obs: Change colors when source enabled in scene" do not trigger if the attached source is within a group.

**To Reproduce**
- Create a group of GDI+ Text sources in a scene on obs studio.
- Add a companion button to toggle visibility on each, so that the three act like radio buttons, only allowing one text source to

[2021-11-24 04:31] bryce-seifert commented on #130
@jefuslives This issue is resolved in the Companion 2.2.0 betas, which you can download [here](https://bitfocus.io/companion/download/builds/).

[2021-11-24 04:31] #130 closed

[2021-11-24 04:32] bryce-seifert commented on #129
@jefuslives This is available in the Companion 2.2.0 betas, which you can download [here](https://bitfocus.io/companion/download/builds/), as the "Audio Muted" feedback

[2021-11-24 04:32] #129 closed

[2021-11-24 04:39] bryce-seifert commented on #128
Went ahead and requested this in OBS Websocket repo https://github.com/obsproject/obs-websocket/issues/864

[2021-11-24 20:21] Cypris2010 opened #131 "Using variables in "obs: Set Source Properties""
Can you change the input fields für the properties so that variables could be used in it?

Don't know if this would be practical in the general usecase, but I have similar buttons on many pages that I have to change if I want to change the general position of my scene items.

[2021-11-24 20:23] Cypris2010 commented on #128
Had not found the time, yet. So thank you for it :)

[2021-11-28 10:59] Mushiiies opened #132 "OBS Support - Grouped Sources"
Companion is unable to recognise whether a source is enabled in a scene, or even if it is visible, if the source is within a group.

[2021-11-28 18:40] bryce-seifert commented on #132
@Mushiiies Grouped sources are supposed in the Companion 2.2.0 betas, which you can download [here](https://bitfocus.io/companion/download/builds/).

[2021-11-28 18:40] #132 closed

[2021-11-29 02:04] Mushiiies commented on #132
Ah thank you, I am running live show so I didn't look at the beta. Guess that message is more of a disclaimer than a huge warning haha

[2021-12-02 23:51] bendoll opened #133 ""Toggle visibility scene item" not toggling properly"
When setting up a button to toggle visibility of a source, the button toggles the visibility once and then will not toggle again until the scene is changed. This button is expected to toggle on or off the source every time it's pressed. As a broadcast director whose responsibilities include graphics operation, I use scenes that contain multiple sources that are shown one at a time. I'd like to rel

[2021-12-02 23:52] bryce-seifert commented on #133
@bendollare Are you using the latest Companion 2.2.0 beta, which you can download [here](https://bitfocus.io/companion/download/builds/).

[2021-12-03 00:07] bendoll commented on #133
I apologize, using the latest beta build fixes it. Thanks for pointing me in the right direction.

[2021-12-03 00:07] #133 closed

[2021-12-26 05:36] BigJinge opened #134 "OBS still crashes on exit when using Websocket 4.9.1 and Companion 2.2.x"
Hi,

Whilst having to use a build of Companion 2.2 beta for a bug fix, the latest version of OBS crashes on exit when using Websocket 4.9.1

You either get a "OBS has crashed" message or an exe crash message.
![OBS_Crash_1](https://user-images.githubusercontent.com/19828427/147399117-013e43ff-fe15-4d2c-bba0-72c37254ac8e.PNG)
![OBS_Crash_2](https://user-images.githubusercontent.com/19828427/1473991

[2021-12-26 16:54] bryce-seifert commented on #134
I think this is an issue on the obs-websocket side. They're currently working on a rewrite with 5.0, so I think our best bet might be waiting for that as I don't think they're working on 4.x anymore. I'll keep an eye on it.

[2021-12-27 04:22] BigJinge commented on #134
Everything was working before I changed from Companion 2.1.3 over to 2.2.x . The question being is, given what the dump file says, is the issue with 2.2 only, an incompatibility of both 2.2 and 4.9.1 or only with 4.9.1 ?

[2021-12-29 03:25] bryce-seifert commented on #134
I'm not entirely sure, and I'm not sure I have the expertise to gleam that from the crash file. We could raise this is an issue with the obs-websocket folks and see if they have more insight.

[2021-12-30 20:00] #131 closed

[2021-12-31 03:21] tt2468 commented on #52
This crash is due to Companion running polling operations while the scene collection is changing. This issue can be mitigated on clients using obs-websocket 5.0.0 by pausing polling between the `SceneCollectionChanging` and `SceneCollectionChanged` events.

[2021-12-31 03:31] bryce-seifert commented on #134
So it seems like this is something that will be able to be fixed once 5.0.0 is out

And the reason it's happening in 2.2.0 and not 2.1.3 is there is a lot more polling going on to accommodate new features.

[2022-01-04 20:12] bryce-seifert commented on #131
@Cypris2010 This is in the [latest beta build](https://bitfocus.io/companion/download/builds/). Let me know if you run into any issues!

[2022-01-05 13:19] BigJinge commented on #134
For reference, if someone else has this issue.

It's a shame that the OBS module obs: Set Source Visibility, bugged in 2.1.3 (and fixed 2.2.x) requires an alpha version of WebSocket 5.0.0 to work with the 2.2.x beta that fixes it.

However, with the latest third Websocket 5.0.0 alpha installed, it doesn't fix the issue. The OBS module flips back and forth between OK and Error many times a second.

[2022-01-05 13:32] bryce-seifert commented on #134
This is because obs-websocket 5.0.0 is a complete rewrite , therefore not currently compatible with this module at all until it's rewritten.

Sorry if my guidance was misconstrued– I was suggesting the solution will come once we transition the module to the new version of obs-websocket, not by upgrading the websocket client on the user end.

[2022-01-27 03:04] bryce-seifert commented on #134
@BigJinge Curious if you have tried the latest [OBS 27.2 beta](https://github.com/obsproject/obs-studio/releases/tag/27.2.0-beta4)? It might be dumb luck, but I haven't seen a Scene Collection change crash yet (I'm on Mac, though).

[2022-02-01 12:20] thomasluquet opened #137 "[request] Show volume of a source"
hi, thanks for your works !
Is it possible to get the volume of a source in a button.

[2022-02-01 22:09] bryce-seifert commented on #137
@thomasluquet Do you mean seeing the volume as a button variable?

If you're on a [beta build of Companion](https://bitfocus.io/companion/download/builds/) this should be possible using $(volume__sourcename_)

[2022-02-04 20:00] morleym commented on #42
Not to necro, but I'm encountering this same thought now in 2022- the idea being to have parity with the Companion GUI experience for adding an action with the vMix API with a "custom command" as shown in screenshot here

![image](https://user-images.githubusercontent.com/31675433/152595139-051be81c-8002-48a6-93af-4e2341fdf82c.png)

![image](https://user-images.githubusercontent.com/31675433/15259

[2022-02-07 12:34] bryce-seifert commented on #42
@morleym I've added a Custom command action is the [latest betas](https://bitfocus.io/companion/download/builds/). Give it a try and let me know what you think.

I will say, we've added a lot of actions lately and if you find yourself using a particular custom actions for OBS a lot feel free to request it be added to the module!

[2022-02-07 12:36] #137 closed

[2022-02-07 12:37] bryce-seifert commented on #90
This feature is currently waiting on development of this [core feature](https://github.com/bitfocus/companion/issues/1635)

[2022-02-16 04:20] bryce-seifert commented on #134
Going to close this, as someone else also reported OBS 27.2 seems to fix this https://github.com/obsproject/obs-websocket/issues/839#issuecomment-1040698469

[2022-02-16 04:20] #134 closed

[2022-02-20 04:12] eric opened #143 "Variables for dropped/missed/skipped for time period"
One of the interesting things the Twitch module has are [variables based on time periods](https://github.com/bitfocus/companion-module-twitch-api/blob/9702edc237d05c96e17e2803c7a272bca0924756/src/variables.ts#L143-L153) (so in their case you can see chat activity for the past 1 minute, 5 minutes, etc).

It would be very helpful to be able to do the same thing for the dropped, missed, skipped varia

[2022-02-20 10:59] CoastIT opened #144 "Remaining time variable enhancements"
Hi,

I while ago I've coded a remaining time feature, meanwhile a similar feature was added to the  master. I'm now about to integrate my solution.

a) A feedback to let a button blink (1 sec feedback on / feedback off) when the remaining time is below a configureable threshold.

![Remaining_Time_Feedback_01](https://user-images.githubusercontent.com/99419948/154838872-8351d593-93e6-4285-95d1-f9cf

[2022-02-21 01:58] bryce-seifert commented on #144
This sounds good, although I think it might be worth having the option to be a constant color or blink in case people want to use it with triggers.

Would this be when the source is stopped, or also when the source is paused? I think there's some value/use cases for still displaying a time when the source is paused.

The reason this is currently there is it matches how elapsed/remaining time are d

[2022-02-21 02:00] bryce-seifert commented on #143
This seems doable. Are those the time frames that make sense? (1, 5, 15, 60min)?

[2022-02-21 08:11] eric commented on #143
Yeah, I think so

[2022-02-22 00:48] CoastIT commented on #144
Thanks for your opinions. I'll start with the feedback stuff and then think about the time format topic.

It looks like this is not possible as only boolean feedbacks can be used for triggers. As long as there is no blink support in the core I have to do that blinking in the feedback which means that the feedback is toggling on and off. I guess (not tested) this would also always trigger the trigg

[2022-02-22 22:30] krocheck opened #146 "RangeError - Invalid time value"
https://github.com/bitfocus/companion-module-obs-studio/blob/b5b65bc3c995d8071ff92b65a899eb2fef570ed0/index.js#L1022

This needs `try` - `catch` similar to the others above it.

[2022-02-22 22:39] CoastIT opened #147 "Late update of media variables"
In 1.0.31 some of the media variables are updated late.
E.g. "Media status for <Source>"

Use case:
- Fully automated switching in OBS with automated scene switcher -> no button clicks during the procedure
- "Media status for Source-01" is Playing
- OBS switches to another scene wich plays another source
-> Current OBS media status is not reflected in "Media status for Source-01" (cheked via compa

[2022-02-22 23:01] CoastIT commented on #146
Why could that fail? What is the use case when it fails? I would like to try to reproduce it.
TimeRemaining should always be seconds or miliseconds, right?
I wonder if there is a more elegant way instead of the repeated try/catch way like check all the time variables when thy come from OBS...

[2022-02-23 00:47] krocheck commented on #146
Unfortunately I have no information on the use-case.  I'm just passing along an error that flagged.  A proper test of the `timeRemaining` would be great, but I can't shed any more light at this moment.

[2022-02-23 01:36] CoastIT commented on #146
Ok, what i meant by a more elagant way would be somthing like:
- check all incomming timestamp values, should be easy as I think we would have to deal with epoch timestamps only
- if a timstamp is out of range throw a warning with a proper message and set them to some value (probably zero)
- check also the calculated timestamps after calculation, throw a warning and set them to zero if out of rang

[2022-02-23 01:51] krocheck commented on #146
If you have a better solution then the `try` - `catch` bandaid method, I'm happy to review the PR when it comes through ;)

[2022-02-23 01:56] CoastIT commented on #146
My proposal would be do the try-catch to workaround and I could have a look to that later when I find some time. But i would like to finish some other stuff before.

[2022-02-23 03:14] bryce-seifert commented on #147
I did some trial/error and wasn't able to recreate but I'm not sure I have the same set-up.

Are your media clips set to "Restart playback when source becomes active"? I found that if that's not check the media does continue playing, even if it's no in the active scene.

If not, perhaps a screen share would be helpful to see your set-up?

[2022-02-23 03:33] bryce-seifert opened #148 "ES6 / OBS Websockets 5 Rewrite"
Just putting this out there for the future roadmap, I plan on rewriting this module in ES6 and at the same time changing over to [obs-websocket 5.0](https://github.com/obsproject/obs-websocket) and the latest version of obs-websockets-js.

I think it makes sense to do these in tandem, since the obs-websocket upgrade will require a lot of re-working as well. This will also give the opportunity to c

[2022-02-24 16:36] CoastIT commented on #147
I did a couple of tests with v1.0.31 of the module and realized that the problem does not occure all the time but quite often.
Looks like that the obs module is randomly missing some of the event notifications from obs.

I did a couple of manual transitions in obs.

**This is from the obs logfile (tail -f ... | grep MediaEnded):**
20:30:07.088: [obs-websocket] Update << '{"sourceKind":"ffmpeg_sour

[2022-02-25 00:33] bryce-seifert commented on #147
Here's some info on debugging with [websocket-js](https://github.com/obs-websocket-community-projects/obs-websocket-js#debugging).

I'm wondering if this will still be persistent with 5.0.0

[2022-02-25 21:17] CoastIT commented on #147
Thank you very much for the hint. I've already tried it with the set DEBUG but it was not working. But I was not aware of the DEVELOPER flag.
However, just in case somebody reads this and wants to enable debug of the obs-websocket-js. The following works for me on windows:
`set DEVELOPER=true`
`set DEBUG=obs-websocket-js:*`
`yarn headless > "output_file" 2>&1`

I think the problem is somewhere bet

[2022-05-11 11:48] MatDepInfo opened #151 "Source visible in program with nested scene"
Hello,
I got a scene (scene 1) with inside a nested scene (scene 2). I manage visibility of each sources in the nested scene (scene 2). But with Companion, impossible to get information about the visibility of this source in the program accross the main scene (scene 1). I try "OBS: Source Visible in Program" but first, it's not working correctly and second, the source is in use in several others s

[2022-05-12 00:40] bryce-seifert commented on #151
Hey there, I can definitely take a look at this. As a note, I'm currently rewriting the whole module for obs-websocket 5.0 so it may be a bit. But, there are lots of improvements with 5.0 and visibility accuracy. And I'll look differentiating between a source in multiple scenes.

[2022-05-12 13:19] MatDepInfo commented on #151
Perfect, let me informed. If you need held, don't hesitate !

[2022-05-24 07:41] Mill-Sound opened #152 "Using companion internal variables for scenes"
Please implement usage of internal variables for preview scene, program scene and smart scene switcher. I would like to be able to use an internal variable as part of a scene name. for example: scene 'camera 1' and scene 'frame camera 1'  where frame is the content of an internal variable. The variable is empty or filled with frame.

[2022-07-08 16:03] SaabFAN opened #153 "Incompatible with OBS Websocket 5.0.0"
The new Websocket-Version 5.0.0 has implemented a new protocol, which makes this Plugin incompatible unless the Compatibility-Layer is installed.
Is there a plan to implement compatibility for the new protocol in the near future?

[2022-07-08 17:42] bryce-seifert commented on #153
There is! I’m about 90% done with the implementation, and hope to have it in beta soon. I’m just tying up some things with the websockets developers that I’m hoping they can patch before release.

So you happen to be on Mac? I can send you a build if you’d like to test a pre-release

[2022-07-19 15:58] Brotuulaan opened #154 "Recording To Disk Breaks Companion Feedback"
OBS 27.2.4, Windows 10 (21H2)

I set up buttons for transitions (both generic preview/program and specific scenes) and added feedback options for colors to indicate the live scene, but then when we used it Sunday, the feedback stopped working. It took a bit of time to track down, but I eventually found that when OBS starts recording, that breaks the feedback. Controls still work, but colors don't

[2022-07-24 02:38] myntath commented on #154
I can confirm I have a similar issue. Also OBS 27.2.4 Companion 2.2.3.

Recording is set to use Stream Encoding in OBS although I tried a few other settings and still had issues (including mkv/mp4 and using a separate encoder).

I first noticed this because we previously had feedback for a toggle recording button which stopped working, which was odd for a seemingly simple button. So I think there

[2022-07-24 16:32] bryce-seifert commented on #154
Did this issue occur prior to 2.2.3 or is that unknown?

If you turn off all modules besides OBS does it still happen?

As a note, I'm very close to being done with the 5.0 rewrite for the new version of obs-websocket. So that will likely be the fix once that's ready, unless I can get to the bottom of this before then

[2022-07-27 09:26] DachsbauTV opened #155 ""Current Media" Source for media controls"
Hey everyone,

It would be great to have the option to choose the "current media" instead of having to choose a specific media source for control actions.

There is a "current media" variable already so I'm hoping this isn't too much work either.

This would eleminate the need for creating a button for every single media item for e.g. pause the clip

[2022-07-27 13:28] bryce-seifert commented on #155
I'll look at adding this to the 5.0 rewrite

[2022-08-01 21:22] Brotuulaan commented on #154
That's unknown for my part. I only recently began using Companion, and 2.2.3 is where I entered. It does still happen when I turn off the other module I have set up.

[2022-08-01 22:09] Brotuulaan commented on #154
Is there a way for me to tell what version of websocket is currently installed? I don't see anything in the websocket GUI under the tools menu, and the websocket file doesn't include a version number in its name.

[2022-08-01 22:12] Brotuulaan commented on #154
It was installed quite a while ago (the file is dated "created 01/27/21" and "modified 05/26/20" (which always mystifies me, but it must be the file's "modification" by the author and its subsequent "creation" by the installer or something), so maybe updating it could fix the problem? Unless you can confirm the current version still has a hand in the issue at hand.

[2022-08-01 22:13] Brotuulaan commented on #154
Wait, are you Palakis over on the OBS forum?

[2022-08-01 22:42] bryce-seifert commented on #154
@Brotuulaan Can you try downloading the version named 4.9.1-compat at [this link](https://github.com/obsproject/obs-websocket/releases/tag/5.0.0). We'll very soon be moving to 5.0, but for now if you can give that I try I'm hoping it will resolve.

And I am not Palakis, but they are one of the devs of obs-websocket, which this module uses

[2022-08-04 04:15] LGCW commented on #153
Ran into the 5.0 compat issues while playing OBS 28 beta this afternoon. Websockets is built in now. Constantly disconnects / reconnects.

This is with 2.3.0 running on a Pi in the studio.

[2022-08-04 04:18] bryce-seifert commented on #153
Now that OBS 28 beta is out I expect more people on 5.0

I’m going to try and get the updated into beta by end of week as well so we can begin testing

[2022-08-04 15:49] Brotuulaan commented on #154
Oh, I see. I took your meaning to be that you were rewriting the websocket itself, but you meant that you were rewriting the module to work with the 5.0 websocket.

I'll install that version and will post the results.

[2022-08-06 07:47] myntath commented on #154
I'm not sure when this issue first appeared but I do not that it hasn't always existed.

I have installed the 4.9.1 company and that has solved the issue for me. Thanks.

[2022-08-08 17:45] Brotuulaan commented on #154
I don't know what version of OBS websocket we were on before, but I installed 4.9.1 and that seems to have fixed the problem. I was about to install the compat but held off in case 4.9.1 was enough, and it seems to be. I'll post back if later restarts and such bring the issue back, but this topic should be good to close now.

[2022-08-15 11:48] bryce-seifert commented on #153
obs-websocket 5.0.0 / OBS 28 support is now available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/). Please keep in mind this is a beta, so back up your config before trying it. Please let me know of any problems you find by opening an issue, or reaching out on Slack. @LGCW @SaabFAN

[2022-08-15 11:48] #153 closed

[2022-08-15 11:49] bryce-seifert commented on #155
@DachsbauTV This is now available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/).

[2022-08-15 11:49] #155 closed

[2022-08-15 11:50] bryce-seifert commented on #154
Glad to hear updating the version fixed it.

I also verified this is working as expected in the latest release, which is now in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/), for obs-websocket 5.0.0

[2022-08-15 11:50] #154 closed

[2022-08-15 11:51] bryce-seifert commented on #147
Media variables have been rewritten for 5.0.0. Let me know if this issue persists with the latest [beta builds of Companion](https://bitfocus.io/companion/download/builds/)

[2022-08-15 11:51] #147 closed

[2022-08-15 11:53] bryce-seifert commented on #148
Closed via https://github.com/bitfocus/companion-module-obs-studio/commit/cb187c5d8162345a00eed1e41eec3a063c7d4ed6

[2022-08-15 11:53] #148 closed

[2022-08-15 11:57] bryce-seifert commented on #152
@Mill-Sound This is now available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/). Please note this requires obs-websocket 5.0.0.
<img width="594" alt="Screen Shot 2022-08-15 at 6 55 21 AM" src="https://user-images.githubusercontent.com/50299051/184631035-08d87bb4-d2d1-4600-b4e0-f6134d83978d.png">

[2022-08-15 11:57] #152 closed

[2022-08-15 11:59] bryce-seifert commented on #151
@MatDepInfo Source visibility should be improved with the rewrite for websockets 5.0. This is now available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/). You can also now specify a scene as well
<img width="595" alt="Screen Shot 2022-08-15 at 6 58 01 AM" src="https://user-images.githubusercontent.com/50299051/184631281-c5df92ea-2040-4cc1-9616-8698ad1a5c00.png">

[2022-08-15 11:59] #151 closed

[2022-08-15 12:00] bryce-seifert commented on #128
@Cypris2010 This feature is now available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/). Note it requires obs-websockets 5.0

[2022-08-15 12:00] #128 closed

[2022-08-15 12:01] #144 closed

[2022-08-15 12:16] DachsbauTV commented on #155
You are amazing

[2022-08-22 16:46] pflonk opened #159 "feature-request: filter-control with relative values"
Hey there!
I am trying to control OBS filter values with companion and set relative values to be applied on top of the ones, that already are set.

In particular i am talking about the "Color Grading" filter from the StreamFX filtercollection. Color grading is a common practice in broadcast environments and is in professional applications done by a dedicated technician, controlling the aperture an

[2022-08-22 16:51] DachsbauTV commented on #159
you can do this with the amazing move value plugin from exeldro :)

[2022-08-22 17:07] pflonk commented on #159
the plugin you suggested is indeed very nice, but i cannot trigger it multiple times to increase the value even further. it's just easing the value change over time.
what I am planning to do is making a bunch of buttons to add / substract 1% to a specific value every time i press it

[2022-08-29 00:18] bryce-seifert commented on #159
Looking into this, one of the main issues is there is such an expansive library of OBS filter plugins, all with very different settings. So creating a drop-in solution for this would require quite a bit of work. I'm not writing it off completely, just going to take a while to research more.

However, I was able to devise a way to do this with custom variables and the Custom Command in the OBS modu

[2022-08-29 13:10] pflonk commented on #159
Hey Bryce,

thank you for your efforts! The workaround with the custom variables is of course a time consuming one (in my case I'd need to set up probably 75 variables or so), but would still help for the project I am working towards. However I was not able to reproduce the usage of custom variables within custom OBS commands.
When sending a custom command with a fixed float value like say 15.0, t

[2022-08-30 00:14] bryce-seifert commented on #159
I think the issue here is that the public 2.3.0 release does not have the updated version of the module that allows you to use variables in the Custom Command.

In order to use that, you would need to use a [beta build](https://bitfocus.io/companion/download/builds/) of Companion. Note, this would also require updating to [obs-websocket 5.0 ](https://github.com/obsproject/obs-websocket/releases)

[2022-08-30 16:04] pflonk commented on #159
Yay, thanks for that tip. Got the companion beta version that contains the last OBS change and installed websocket 5.1
Now this works fine. 🥳
I have to configure 75 custom variables now and control them via 225 buttons 😅 but hey! It's going to work.
I will keep track of this issue and looking forward for any news regarding a new feature.
Thanks for your time and work!

[2022-08-31 08:40] flvlef opened #160 "Set recording settings"
As I see that Set Stream Settings is available, I'm wondering if the fact that there is now way to Set Recording Settings is a limitation of this module or the OBS Websocket implementation.
FYI I'm running on `companion-module-obs-studio v2` and `OBS v28 RC2`

[2022-09-01 01:50] bryce-seifert commented on #160
There's no native way to do it with OBS websockets. I think we may be able to adjust a limited number of settings by changing the profile directly. I'm going to look more into that, and have also reached out to the OBS websocket folks to see what they say. What specific settings are you looking to adjust in the recording settings? That will help guide the route I take with implementing this.

[2022-09-01 05:22] flvlef commented on #160
Hello @bryce-seifert ,
Thank you.
In my context the only dynamic setting would be the recording output URL.
I use the Avanced Recording > ffmpeg mode > URL-type output.

The heavier approach would be to produce a whole Profile dynamically, then push it on the OBS machine, then send the command to load this specific one via OBS websocket. I seems to be quite heavy to only adjust a URL 😅.
Thanks

[2022-09-01 09:33] richardguenther opened #161 "Filters for Scenes not working"
Hi,

since the new update for obs 28 (and the change to obs-websockets 5.0.1) it is no longer possible to see or activate filters, that are set on Scenes. (Filters for Sources are still working)

I looked at the obs-websockets documention and don't see at first glance which new command has caused this.

Even if I nest the scene as a source in another scene it doesn't work.

Filters on Scenes are o

[2022-09-02 00:18] thedist opened #162 "Latest rewrite breaks using multiple instances"
The rewrite to this module made changes that went from using instance specific connections, to a global `obs` variable.

Because the `obs` variable is global, when each instance calls `connectOBS` it kills any existing connection to start a new one. This is a significant breaking change and makes the module unusable by anyone needing to connect to multiple OBS servers.

The fix would be to have th

[2022-09-02 04:04] bryce-seifert commented on #161
It looks like I missed scene filters. I've got a fix in the works, going to to a little more testing and then get it in beta

[2022-09-02 04:08] bryce-seifert commented on #162
Thanks for bringing this to my attention. I have a [fix](https://github.com/bryce-seifert/companion-module-obs-studio/tree/fix/globalVariable), will hopefully get it merged this weekend with some other fixes

[2022-09-02 04:17] bryce-seifert commented on #160
It looks like the FFmpeg URL is exposed in the profile.
So, you could use the Custom Command action and make the request typ
`SetProfileParameter`
and the Request Data:
`{"parameterCategory": "AdvOut", "parameterName": "FFURL", "parameterValue": "http://testing.com"}`

I'll try to see if there's a nicer way to do this, but the above worked for me in testing

[2022-09-02 14:07] flvlef commented on #160
Thank you @bryce-seifert it just work perfectly!

[2022-09-02 14:07] #160 closed

[2022-09-04 04:27] bryce-seifert commented on #162
@thedist This should be fixed in the latest beta

[2022-09-04 04:29] bryce-seifert commented on #161
This should be fixed in the latest [beta builds](https://bitfocus.io/companion/download/builds/) of Companion

[2022-09-04 06:04] richardguenther commented on #161
Hi - that was amazingly quick. I tried it on the windows build and it works. Thank you!

[2022-09-04 06:04] #161 closed

[2022-09-05 00:10] kjetilpp commented on #162
Is this the reason to why i get "New WebSocket connection" every 1 sec?

[2022-09-05 00:13] bryce-seifert commented on #162
@kjetilpp Can you be more specific? Are you seeing this notification in OBS or Companion?
Are you using the [latest beta](https://bitfocus.io/companion/download/builds/) of Companion?

[2022-09-05 00:15] kjetilpp commented on #162
@bryce-seifert In OBS/Windows
![Screenshot 2022-09-05 021456](https://user-images.githubusercontent.com/5620578/188339102-435a5968-7228-4915-8496-7a16a1c5db5c.png)
Did run a beta update like 12h ago. Started after that.

[2022-09-05 00:21] bryce-seifert commented on #162
Interesting, not sure why this would be.

What version of Companion were you using before the update?

Also are there any errors in the Companion  > Logs tab?

[2022-09-05 00:24] kjetilpp commented on #162
What version of Companion were you using before the update?
Not sure, maybe 2.2.X?  Think is was from around month 04 or 05,
No errors in the Companion > Logs tab.

[2022-09-05 00:25] bryce-seifert commented on #162
Ok, and are you using OBS 28 / OBS websockets 5.0.0?

[2022-09-05 11:12] rgischig commented on #162
In order to have OBS 28 to work, you need to use a beta-companion version. the official 2.3 does not support OBS28 (WebSockets 4.9).
My Raspy is almost craashing as it seams to poll very frequent and fails to connect.

[2022-09-07 15:18] lindenkron opened #164 "[BUG] Multiple sources with same name aren't shown. [OBS]"
### Is this a bug in companion itself or a module?

- [X] I believe this to be a bug in companion

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you have multiple sources that are identical, but placed different places in OBS - you cannot interact with them in companion. Having more than one source of same name breaks companion.

I'm

[2022-09-08 01:48] bryce-seifert commented on #164
@lindenkron Can you give this a try in the [latest Companion beta ](https://bitfocus.io/companion/download/builds/) and OBS 28?

I see that it toggles all sources of the same name, but I don't see any "breaking" occurring.

We currently use scene + source name instead of scene + scene item ID since it's more intuitive to setup. Is there a use case for having sources of the same exact name in the s

[2022-09-08 01:54] lindenkron commented on #164
Strange. When I tried to toggle, it would toggle off/on (depending on existing state) and then stop doing anything. I suppose false behavior may vary.

For larger productions/setups that include a lot of duplication work it's often easier due to everything being _literally_ identical. When upgrading existing setup (like going from Elgato, where this works, to Companion).

It'll probably work using

[2022-09-08 02:06] bryce-seifert commented on #164
Looking at the Elgato Plugin, it seems like Source Visibility has a scene dropdown, and then based on the selected scene filters to show only that scene's sources in the Source dropdown.

This is similar behavior as to what is requested in https://github.com/bitfocus/companion/issues/1635

I think if this becomes a core feature, we could implement a similar mechanism for the module. For now our li

[2022-09-08 09:00] Spekko1980 opened #165 "not able to choose scene in send to projector action"
Note that this is in the companion-win64-2.4.0+4679-beta-ec05abcd version.

When using the obs: Open Projector action and setting Projector Type to Scene, I cannot select Scenes, it only shows sources.
We had to move to the beta version because our IT updated OBS to 28 which led to a connection error which is resolved in the beta version.

Just checked in [2.3.0 (2.3.0+4608-v2-3.0-2994a6d0)]. In t

[2022-09-08 10:13] lindenkron commented on #164
I don't know if you looked at v28 (StreamDeck 2.0), or (StreamDeck) v27. Just a quick note that v28 (StreamDeck 2.0) is currently having issues with this multi source thing as well.

They used to have the issue in v27 (StreamDeck) but it got fixed and I've not experienced issues getting my sources for a while. Which is also why I ended up here, hoping to make a switch to Companion that would allow

[2022-09-08 16:12] bryce-seifert commented on #165
Sorry about that, I see the issue. I will try and get it fixed very soon.

If you need an immediate fix, one possible way around is if you add the scene into another scene as a source, you should be able to select it.

[2022-09-09 02:56] dvdenz opened #166 "REQUEST - Mute Audio Track"
Hello, it would be great if possible to be able to mute the audio tracks.
Many thanks
![image](https://user-images.githubusercontent.com/65996529/189262748-46177856-b8cf-42dd-b1d2-f42fcdd49f62.png)

[2022-09-09 03:12] bryce-seifert commented on #166
@dvdenz You should be able to do this with either the "Set Source Mute" or "Toggle Source Mute" actions.

[2022-09-09 03:19] dvdenz commented on #166
Thanks - in this case I want to mute an entire track/output (=buss) which contains multiple sources.
For example, if I have a video clip routing to tracks 1, 2, and 3. I want to mute track 2 while still having the audio routing out the other tracks, to different audio devices.

Thanks

[2022-09-09 03:43] bryce-seifert commented on #166
Ah, sorry, I didn't realize this was "Audio Monitor" and not the default OBS "Audio Mixer".

Since this is an external plugin, there likely won't be support for it in the near future since the focus of the module is the core OBS features supported by obs-websocket, and there is currently no API to support this specific plugin. I would recommend reaching out to this plugin developer and requesting

[2022-09-09 03:43] #166 closed

[2022-09-10 01:49] #162 closed

[2022-09-12 18:00] teklynk opened #168 "OBS v28 Websocket issues with Companion 2.2.3"
### Is this a bug in companion itself or a module?

- [X] I believe this to be a bug in companion

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Running Linux Mint 21. Upgraded to OBS v28 using which uses OBS's new built-in websocket plugin. Companion (running on the same machine as OBS via localhost) fails to connect to OBS. The compani

[2022-09-12 21:32] bryce-seifert commented on #168
Support for OBS 28 is available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/).

[2022-09-12 21:33] #168 closed

[2022-09-13 20:44] ace2go opened #169 "When using streamdeck to launch OBS, scenes do not load"
As the title states, if you load OBS Studio with the streamdeck, you cannot control the scenes.  If you execute the same shortcut that you linked the streamdeck to to launch OBS, then you are able to switch between scenes.

[2022-09-14 02:48] bryce-seifert commented on #169
Hello, I'm not quite sure exactly what the issue is here.

By " load OBS Studio with the streamdeck", do you mean you are using the Elgato "System: Open" action to open OBS?
If so, after that what actions are you using in Companion that aren't working?

Additionally, if you can provide version numbers of OBS and Companion, and any screenshots of the issue that would be helpful.

[2022-09-14 13:42] ianreeder opened #170 "Connection failure to OBS"
Last night my OBS version was updated to V28 and bitfocus companion started giving Java errors on the application launch and then failed to connect to OBS.  After much testing I've completely removed OBS and all settings along with companion.  I reinstalled the newest version OBS and newest version of companion and I'm getting errors when connecting.  I've enabled the websocket connection in OBS a

[2022-09-14 14:41] bryce-seifert commented on #170
Support for OBS 28 is available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/).

[2022-09-14 14:41] #170 closed

[2022-09-14 14:43] ianreeder commented on #170
Thank you! I'll try that first.  If I have trouble, do you recommend I revert to OBS 27?

[2022-09-14 14:45] bryce-seifert commented on #170
You can do that, or you may be able to install [obs-websocket 4.9.1-compat](https://github.com/obsproject/obs-websocket/releases) and keep using OBS 28. The thing that's causing the issue is OBS 28 comes with websocket 5.0, which we have support for but it's still in beta.

[2022-09-17 05:21] ZachRosing opened #171 "Problems updating"
I'm having trouble getting the current version of this module installed that will work with OBS 28, even though I have Companion 2.3.1 installed. Can you help explain how to manually update this module? I'm using a raspberry pi. Thanks!

[2022-09-18 11:34] apisandipas opened #172 "Unable to Connect Companion to OBS 28"
Hello,

When I try to enable the OBS connection it flickers back and forth begin OK and Error. The Companion log fills up with "instance(obs): Connection lost to OBS." repeatedly.

I am running Companions 2.3.1 and OBS 28. My understanding is that these versions are compatible as the module indicates support for the obs-websocket 5.0+ protocol. When I enable debug logging for the web-socket connec

[2022-09-18 11:50] bryce-seifert commented on #172
Support for OBS 28 is available in the [beta builds of Companion](https://bitfocus.io/companion/download/builds/).

[2022-09-18 11:50] #172 closed

[2022-09-18 11:51] bryce-seifert commented on #171
I don't personally use a Pi, but you may be able to run

`sudo companion-update beta`
Or possibly just

`sudo companion-update` and then select the beta version. Sorry I'm unable to test this.

[2022-09-18 11:52] bryce-seifert commented on #169
@ace2go Are you able to provide any more info on this? I'm still unable to replicate

[2022-09-18 11:54] bryce-seifert commented on #165
@Spekko1980 This is now fixed in the latest beta. Let me know if there are any issues!

[2022-09-18 11:54] #165 closed

[2022-09-20 05:58] nick-potts opened #173 "Doesn't detect disconnection in v28"
it currently silently disconnects without the module detecting. Under connections, it'll say status = "OK", but the only way to fix is disabling and enabling the module. If it helps, I run 3 instances of the module in my setup.

[2022-09-20 11:05] bryce-seifert commented on #173
I can look into this.

What version of Companion are you using?

[2022-09-21 04:49] nick-potts commented on #173
![image](https://user-images.githubusercontent.com/1109914/191416599-b7463264-fa88-4c60-af39-6ba355cb8a3f.png)
![image](https://user-images.githubusercontent.com/1109914/191416626-3805e2c9-8e12-459f-9758-51d8352a7127.png)
![image](https://user-images.githubusercontent.com/1109914/191416707-61eb6786-3abd-47dc-a423-981aca04df35.png)

In the logs it knows it doesn't have a connnection, however in the

[2022-09-21 23:37] bryce-seifert commented on #173
That is odd behavior.

I think the first step is to figure out what's causing the disconnect initially. I'm assuming OBS is still open and online?  Would you be able to, via Slack, send me files from the Companion > Log > Export Support Bundle after a disconnect happens?

[2022-09-22 00:36] bmaccollum commented on #173
I am not any type of developer, just trying to trouble shoot an issue.
My set up is very minimal but I just updated my Companion software, Blackmagic Design ATEM software as well as the OBS software and I no longer can connect to OBS. Any help is appreciated.
![image](https://user-images.githubusercontent.com/114119348/191633473-d8a87126-b09c-4c55-ae3a-d1dd55c09bf2.png)

[2022-09-22 00:44] bryce-seifert commented on #173
@bmaccollum If you updated to OBS 28, you will need to download one of the [beta builds of Companion](https://bitfocus.io/companion/download/builds/) to connect.

[2022-09-22 04:31] nick-potts commented on #173
The OBS gets closed as its an always on Stream PC with seperate OBS's for streaming/recording. The issue is that it still thinks its connected, and then when OBS is relaunched it never reconnects.

[2022-09-23 22:12] bryce-seifert commented on #173
@nick-potts I think I was able to replicate this by force quitting OBS on Mac (instead of through the menu). I'm working on a fix now

[2022-09-27 00:24] bryce-seifert commented on #169
Closing as I'm not able to replicate with provided information. Feel free to reopen if you have more info or steps to replicate

[2022-09-27 00:24] #169 closed

[2022-09-27 00:25] bryce-seifert commented on #171
@ZachRosing Were you able to get this updated to the beta, and if so is it working with v28?

[2022-09-27 19:49] bryce-seifert commented on #173
@nick-potts I'm hopeful this is fixed in the latest beta builds of Companion. Let me know if not!

[2022-09-27 19:49] #173 closed

[2022-09-30 00:08] alomantofl commented on #171
How would you go about performing this companion-update command on windows?

[2022-09-30 02:15] alomantofl commented on #171
I did that and the plugin still seems to be out of date, see screenshots below. It's possible that I've missed something but I can confirm the settings are correct, it's failing in the log and I see the connection failing in the websocket log as it's trying to use the legacy websocket authentication.

![image](https://user-images.githubusercontent.com/72946135/193175286-0b7d09dd-c037-4de1-8bcb-be5

[2022-09-30 02:56] bryce-seifert commented on #171
@alomantofl Make sure to navigate to the "Beta Builds" page in order to download a version that supports the new obs-websocket.

When you open Companion, the version number should be 2.4.0

<img width="782" alt="Screen Shot 2022-09-29 at 9 52 52 PM" src="https://user-images.githubusercontent.com/50299051/193180077-2d8f0a8c-d573-45e5-984e-c8d94a5b3214.png">

[2022-09-30 03:01] alomantofl commented on #171
Ah, I see what happened. I did download the beta last time, but apparently I either managed to run the old installer or the beta installer failed and I didn't notice, as I re-downloaded, ran it and it worked. I didn't look closely at the version number last time and just assumed I was running the beta version. Thanks so much!

[2022-09-30 20:37] davisa6477 opened #177 "How do I install this?"
How do I install this update or source code?

[2022-09-30 21:30] bryce-seifert commented on #177
@davisa6477 Are you referring to support for OBS 28 (websocket 5.0)?

You can download a beta build from the [Bitfocus site](https://bitfocus.io/companion/download/builds/)
The version number should be 2.4.0
<img width="782" alt="193180077-2d8f0a8c-d573-45e5-984e-c8d94a5b3214" src="https://user-images.githubusercontent.com/50299051/193358858-ce251b65-bcc8-4c58-b807-57434fd2feb2.png">

[2022-10-04 16:12] Ajonymous commented on #60
I am having this same issue currently. OBS Version 27.2.4 (also tried on latest update of OBS). Companion V2.3.1

[2022-10-04 21:22] bryce-seifert commented on #60
@Ajonymous To best troubleshoot this issue, please update to OBS 28 and install the Companion beta build from the [Bitfocus site](https://bitfocus.io/companion/download/builds/). Version number should be 2.4.0. Let me know if the issue persists
<img width="782" alt="193180077-2d8f0a8c-d573-45e5-984e-c8d94a5b3214" src="https://user-images.githubusercontent.com/50299051/193932227-df8c1000-bb9e-4d3d-

[2022-10-04 21:22] #177 closed

[2022-10-04 21:22] #171 closed

[2022-10-06 18:33] Cypris2010 opened #179 "obs: Source Active in Preview not giving feedback"
The OBS feedback "obs: Source Active in Preview" seems to have no result. The background and textcolor are not changing although the sceeneitem / source  is active / visible in preview.

I used this feature in older releases an now it dows not seem to work anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Add "obs: Source Active in Preview" in Feedback
2. Select the Source
3. Activate

[2022-10-07 00:35] bryce-seifert commented on #179
@Cypris2010 When you say older version, do you mean an older version that worked with OBS 28? Or a version before that?

Would you mind sharing a screenshot of the sources panel of your scene? Just want to try and replicate the layout

[2022-10-07 04:41] Cypris2010 commented on #179
@bryce-seifert : No no, iI used it in OBS 27

[2022-10-07 19:35] bryce-seifert commented on #179
@Cypris2010 Would you mind sharing a screenshot of the sources panel of your scene?

[2022-10-08 02:03] bryce-seifert commented on #179
@Cypris2010 By change do you use the obs-ndi plugin?
I'm noticing some weirdness with the preview feedback + a scene collection I made that has obs-ndi from version 27, when opened in in v28. Not sure if related, but want to check

[2022-10-08 06:37] Cypris2010 commented on #179
@bryce-seifert  Can you describe the weirdness? Yes I'm using the NDI Plugin, but the not released version. I think it's this one https://github.com/Palakis/obs-ndi/actions/runs/2977380826
I'll post the Scene arrangement later.

[2022-10-08 10:07] Cypris2010 commented on #179
![image](https://user-images.githubusercontent.com/6613711/194702218-ac6f25be-7b94-4f38-b693-a7500e9e0b86.png)
This ist my scene arrangement: Im activating In2B. The source is active but on the streamdeck the color of the button is not changeing

[2022-10-08 13:34] bryce-seifert commented on #179
Ok after digging in more, I'm getting really inconsistent info from obs-websocket and the InputShowStateChanged listener which I think is affecting this. It seems to fire info for Scenes within scenes.

I'm going to reach out to them, and also look at a possible workaround

[2022-10-08 13:35] Cypris2010 commented on #179
Ok thank you.

[2022-10-09 21:04] sdmoore68 opened #180 "OBS Companion debug log full of"
I rolled back to WebSockets to 4.9.1 and OBS to 27.2.4 (64-bit, windows).  I am not sure when it started but Companion is spewing critical entries in thee log every second.

22.10.09 16:51:12 instance(obs): Media time remaining parse error: RangeError: Invalid time value
22.10.09 16:51:11 instance(obs): Media time remaining parse error: RangeError: Invalid time value
22.10.09 16:51:10 instance(obs

[2022-10-09 21:19] bryce-seifert commented on #180
Sorry, slightly confused, what version did you rollback from?

This is likely result of this fix https://github.com/bitfocus/companion-module-obs-studio/commit/8d15877ef0e0bf4ab01ced8d2a7302ed2655b64c

However, this should all be moot with OBS 28 / Companion 2.4 beta

[2022-10-11 11:40] Ajonymous commented on #60
Thanks for that. I tried an older version of the OBS websocket plugin and that worked. I needed to keep on OBS version 27 due to other plugins being incompatible with OBS version 28.

[2022-10-11 12:33] sdmoore68 commented on #180
I had to roll back from OBS 28 due to plugin incompatibility.

-----
Regards,
Sid Moore

Proverbs 3:3 Let love & faithfulness never leave you; bind them around your
neck, write them on the tablet of your heart.Then you will win favor & a
good name in the sight of God & man.

On Sun, Oct 9, 2022 at 5:19 PM bryce ***@***.***> wrote:

[2022-10-11 22:14] bryce-seifert commented on #180
@sdmoore68 Got it. Right now the only real option is you could:

1. Upgrade obs-websocket by itself to 5.0.1 using [this installer](https://github.com/obsproject/obs-websocket/releases/tag/5.0.1), and continue using OBS 27.
2. Use a beta build of companion (version 2.4) that is compatible with  obs-websocket 5

This should prevent the error in the log

[2022-10-12 20:42] sdmoore68 commented on #180
Got it, thanks! My plan is to upgrade next week.

As far as I know, storage from the growing logs are the only resources that
are getting abused.  Are there other resources I should monitor until
then?  Can I delete the log?

-----
Regards,
Sid Moore

Proverbs 3:3 Let love & faithfulness never leave you; bind them around your
neck, write them on the tablet of your heart.Then you will win favor & a

[2022-10-12 21:03] bryce-seifert commented on #180
I don't think there should be any other concerns resource-wise.

Let me know if you have any issues after the upgrade!

[2022-10-12 21:03] #180 closed

[2022-10-12 21:10] bryce-seifert commented on #179
Ok, as of right now StateChanged (which is how this feedback is determined) does not work for scenes in obs-websocket.

I have submitted a feature request to get it added https://github.com/obsproject/obs-websocket/issues/1037

[2022-10-21 22:12] atscomms opened #181 "Group Source Visibility"
Let's say I group sources within an OBS scene and name the group, and I manually select certain sources within the group as visible.
When I set a button to Toggle Source Visibility and I select the Group Name, that button currently toggles all the sources in the group.

I would like it to toggle ONLY the group visibility (by group name), and not affect the visibility of the sources within the grou

[2022-10-25 04:55] atscomms opened #184 "Scenes with similar names"
I have two OBS scenes named "Z no Slides" and "Z with Slides". I have other scenes as well
In Companion's Set Preview Scene /Set Program Scene buttons, only one (or neither) of these scenes will be available to choose from. All other scenes are available.

**Version Information:**
- Operating System: Windows 10
 - OBS app: 27.2.4
 - obs-websocket: 5.0.1
 - Companion: [2.4.0 (2.4.0+4729-beta-01d439

[2022-10-25 17:30] atscomms commented on #184
These OBS Scenes seems to be disappearing in Companion until I rename them, and then they might disappear again.

[2022-10-25 22:31] bryce-seifert commented on #184
Are you switching between scene collections, or does this happen while using one scene collection? Is there any particular action / event that causes a scene to disappear or is it random?

[2022-10-26 01:01] atscomms commented on #184
Just one scene collection. Not doing anything I can identify as a cause.

*Marty *

On 10/25/2022 6:31 PM, bryce wrote:

[2022-10-26 12:13] atscomms commented on #184
Just one scene collection. To clarify, the OBS Scenes are still there,  it is Companion that has either lost the ability to control them (??), or to show them in the list.However,  Companion does show me scenes that were indeed removed from OBS intentionally. Dies Companion get scene data from obs periodically, or only when a change occurs? Thank youSent from my Veri Sammy Galaxy
-------- Original

[2022-10-27 03:24] bryce-seifert commented on #184
Companion updates scene data on connection, and then when scenes are removed, created, or renamed.

I'm curious, have you tried seeing if this issue happens on OBS 28? I've been trying to replicate with those scene names but have not had success yet with v28.

[2022-10-27 12:23] atscomms commented on #184
I have to stay on 27 until NDI is working on 28.
Would it help if I send you the OBS scene collection and Companion page?
Now that the event is over and I've shut OBS down, I'll be curious to see if the removed scenes will still be listed in Companion.
I'll report back.

[2022-10-27 21:59] atscomms commented on #184
Now it is working, however it worked for a time when I set it up.
Double ?? is an indication of a lost websocket connection, however some of the buttons did work. I did not check the status at the time.
So I have to let the source/scene availability question go for now, but the similar scene name question is still open.
Thank you

[2022-10-30 18:16] bryce-seifert commented on #181
@atscomms This should be fixed I the latest Companion beta release (https://github.com/bitfocus/companion-module-obs-studio/pull/182)

[2022-10-30 18:16] #181 closed

[2022-11-04 17:48] UWSCIA opened #185 "Sources not showing in Companion when OBS Group name has a space..."
**Describe the bug**
While auditing triggers and buttons with the "beta" companion version as I needed the variable phrasing and newer websocket...
I noticed not all Text sources were listed...
I changed the name to remove spaces as this is normally the issue, but previous version didn't have this issue... didn't work...
Then realized all the missing Text sources were in a Group, Changed the Group

[2022-11-05 00:07] bryce-seifert commented on #185
I was able to recreate this and find the issue. It seems like some text sources weren't being properly pushed to the choices on startup (even though they were being recognized, as they appeared as a variable). I should have a fix for this in the next release

[2022-11-10 03:30] bryce-seifert commented on #184
@atscomms Are you still having issues with similar scene names? I have not been able to recreate in OBS 27 or 28.
If so, would you mind sending your Scene Collection?

[2022-11-10 03:34] #185 closed

[2022-11-10 14:29] jamtasty1 opened #187 "Allow host addresses to be entered in connection window"
Currently there is a regex in place only allowing ip addresses to be entered.  Could you remove/alter so host addresses can be entered also to allow remote connectivity? Thanks.

[2022-11-10 15:39] bryce-seifert commented on #187
Makes sense to me! Added this with https://github.com/bitfocus/companion-module-obs-studio/pull/188

[2022-11-10 15:39] #187 closed

[2022-11-14 06:18] atscomms commented on #184
I am not able to recreate it now either. Scenes with the same names in the OP both show in the scene list for buttons.
I'll close this issue for now,
Thank you

[2022-11-14 06:19] #184 closed

[2022-11-22 08:47] DerNephias opened #189 "OBS v28 Websocket v5 Connectivity Bug"
Companion is loosing the Websocket connection to the newest OBS Version.
[companion_log_20221122-0945.csv](https://github.com/bitfocus/companion-module-obs-studio/files/10065561/companion_log_20221122-0945.csv)

[2022-11-22 17:10] bryce-seifert commented on #189
In order to use OBS 28 / obs-websockets 5, you need to download the Companion beta build (v2.4)

[2022-11-22 17:10] #189 closed